html {
    overflow-y: scroll;
    height: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    min-width: 433px;
    height: 100%;
    color: #103769;
    font-family: "Helvetica Neue LT Pro", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
    padding: 0;
}

a, a:active, a:visited, a:hover {
    color: #00aeef;
    text-decoration: underline;
    outline: none;
}

a:active, a:hover {
    color: #fa6d16;
}

p,
div.selectParagraph {
    line-height: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

input:focus,
textarea:focus {
    outline: none;
}

/* --------------------- header ----------------------------- */

#headerSection {
    background: white url(/img/header.gif) repeat-x;
    box-shadow: 0px 2px 3px -2px #6094AD;
    -moz-box-shadow: 0px 2px 3px -2px #6094AD;
    -webkit-box-shadow: 0px 2px 3px -2px #6094AD;
    height: 120px;
    position: relative;
}

#headerSection.openSubMenu {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#headerSection #headerTop {
    height: 35px;
}

#headerSection #headerLogo {
    background: url(https://i.imgur.com/FvZKvnm.png) no-repeat no-repeat;
    float: left;
    width: 154px;
    height: 130px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

#headerSection #ebankType {
    float: left;
    font-weight: bold;
    font-size: larger;
    line-height: 35px;
    margin-left: 10px;
}

#headerSection #langSelector {
    float: right;
    padding-right: 45px;
}

#headerSection #langSelector ul {
    float: left;
    list-style-type: none;
    margin: 10px 0;
}

#headerSection #langSelector ul li {
    float: left;
    display: inline-block;
    padding-left: 3px;
}

#headerSection #langSelector ul li:first-child {
    border-right: 1px solid #103769;
    padding-right: 3px;
    padding-left: 0px;
}

#headerSection #langSelector a,
#headerSection #langSelector a:active,
#headerSection #langSelector a:hover,
#headerSection #langSelector a:visited {
    color: #002f52;
    text-decoration: none;
}

#headerSection #headerBottom {
}

#headerSection nav {
    display: inline-block;
}

#headerSection nav ul {
    list-style-type: none;
    padding: 0;
}

#headerSection nav ul li {
    display: inline;
    padding: auto 10px;
}

#headerSection nav ul li a {
    display: inline-block;
    padding: 10px 25px;
    color: #003767;
    font-size: 18px;
}

#headerSection nav ul li a:first-child {
    padding-left: 10px;
}

#headerSection nav ul li a:last-child {
    padding-right: 5px;
}

#headerSection nav ul li a:hover,
#headerSection nav ul li a.active {
    color: #00ade9;
    text-decoration: none;
}

#headerSection #logoutOptions {
    display: inline-block;
    float: right;
}

#headerSection #logoutOptions ul {
    padding: 0;
    margin: 0;
}

#headerSection #logoutOptions ul li {
    display: inline-block;
}

#headerSection #lastLoginBox {
    padding-top: 13px;
    width: 130px;
    text-align: center;
}

#headerSection #lastLoginBox span {
    line-height: 20px;
}

#headerSection #logout {
    width: 50px;
}

#headerSection #logout div {
    position: relative;
    top: -10px;
    border: 2px solid red;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

#headerSection #logout a,
#headerSection #logout a:hover,
#headerSection #logout a:visited,
#headerSection #logout a:active {
    color: red;
}

/* ---------------- main boxes --------------------------------*/

div.mainBox {
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------- footer --------------------------------*/

footer {
    text-align: center;
    font-size: 12px;
    height: 86px;
}

footer .blueLine {
    background-color: #3CADF3;
    min-height: 2px;
    overflow: hidden;
    box-shadow: 0px 2px 6px #6094AD;
    -moz-box-shadow: 0px 2px 6px #6094AD;
    -webkit-box-shadow: 0px 2px 6px #6094AD;
    color: white;
}

footer ul {
    padding: 18px 0 0 0;
}

footer ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #103769;
    line-height: 17px;
}

footer ul li:last-child {
    border-right: none;
}

footer .copy {
    color: #666666;
    padding-top: 30px;
}

footer .khArrows {
    float: left;
    margin-top: 10px;
}

footer .khAwards {
    float: right;
    margin-top: 10px;

}

/*---------------------- content main elements -----------------------------*/

#content {
    min-height: 60%;
    min-height: calc(100% - 250px);
    background-color: #F9F9F9;
}

#content h1 {
    color: #00aeef;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

#content h2 {
    margin: 0;
    color: #1fb7f0;
    font-size: 28px;
}

#content #functionBox {
    padding: 30px 0 15px;
    background: #e5f7fd;
    color: #003767;
    margin-bottom: 10px;
}

#content #functionBox h1 {
    font-size: 34px;
    margin: 0;
    text-align: left;
    color: #003767;
}

#content .openableContent {
    text-align: center;
}

#content .openableContent h2,
#content .openableContent h3 {
    cursor: pointer;
}

#content .openableContent h2 {
    line-height: 28px;
}

#content .openableContent:hover h2::after,
#content .openableContent:hover h3::after {
    color: #FA6D16;
}

#content .openableContent h2::after,
#content .openableContent h3::after {
    content: "\f107";
    font: normal normal normal 28px/1 FontAwesome;

    color: #003767;
    font-weight: normal;

    line-height: 18px;
    width: 28px;
    height: 20px;

    display: inline-block;

    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;

    text-align: center;
    vertical-align: top;
}

#content .openableContent h2::after {
    height: 28px;
    line-height: 28px;
}

#content .openableContent.open h2::after,
#content .openableContent.open h3::after {
    content: "\f106";
    font: normal normal normal 28px/1 FontAwesome;
    color: #FA6D16;
}

#content .openableSection {
    border: 1px solid #87d9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    padding: 15px 30px 0px;
    width: 85.5%;
    margin-bottom: 1em;
}

#content .openableSection h3::after {
    float: right;
}

#content .mandatory > label::after {
    content: ' *';
    color: #d52027;
    font-size: 18px;
    font-weight: bold;
}

#content ul {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* -------------------- intputs, buttons, labels, checkboxes, selects -------------------------*/

input[type='button'],
input[type='button'].primary,
input[type='button'].active,
input[type='submit'],
button.primary,
button {
    height: 60px;
    text-decoration: none;
    /* iPad fix */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input[type='button'].thin,
input[type='button'].primary.thin,
input[type='button'].active.thin,
input[type='submit'].thin,
a.primary.thin,
a.button.thin,
button.primary.thin,
button.thin {
    height: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type='button'],
input[type='button'].primary,
input[type='submit'],
a.primary,
a.button,
.quickFunctions a,
.quickFunctions a:visited,
.quickFunctions a:active,
button.primary,
button {
    font-size: 18px;

    font-weight: bold;

    -webkit-transition: background ease 0.3s, color ease 0.3s;
    -o-transition: background ease 0.3s, color ease 0.3s;
    transition: background ease 0.3s, color ease 0.3s;

    line-height: 1.25;

    padding: 17px 30px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: #fff;
    background-color: #fa6d16;

    border: 1px solid #fa6d16;

    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;

    font-family: inherit;

    outline: none !important;
    text-decoration: none;
}

input[type='button']:hover,
input[type='button'].primary:hover,
input[type='button'].primary.ghost:hover,
input[type='submit']:hover,
input[type='submit'].ghost:hover,
a.primary:hover,
a.primary.ghost:hover,
a.button:hover,
a.button.ghost:hover,
button.primary:hover,
button:hover {
    color: #fff;
    background-color: #d85505;
    border-color: #d85505;
}

input[type='button'].primary.ghost,
input[type='submit'].ghost,
a.primary.ghost,
a.button.ghost,
button.primary.ghost,
button.ghost {
    background: #fff;
    color: #fa6d16;
}

.quickFunctions a,
.quickFunctions a:visited,
.quickFunctions a:active,
.yearSelectorContainer input[type='button'].active,
.monthSelectorContainer input[type='button'].active,
input[type='button'].secondary,
a.button.secondary,
button.secondary {
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}

.quickFunctions a:hover,
.yearSelectorContainer input[type='button']:hover,
.monthSelectorContainer input[type='button']:hover,
input[type='button'].secondary:hover,
input[type='button'].tertiary:hover,
a.button.secondary:hover,
button.secondary:hover,
button.tertiary:hover {
    color: #fff;
    background-color: #0089bc;
    border-color: #0089bc;
}

input[type='button'].tertiary,
.yearSelectorContainer input[type='button'],
.monthSelectorContainer input[type='button'],
button.tertiary {
    color: #00aeef;
    background-color: transparent;
    border-color: #99dff9;
}

a.primary,
a.button {
    height: 24px;
}

button span.ui-button-text,
button.primary span.ui-button-text {
    line-height: 1.25;
    padding: 0;
}

#modalAjaxLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #000;
    color: #fff;
    opacity: 0.1;
}

button.primary span.ui-button-icon-secondary.ui-icon-indicator {
    background: url(../images/ajax-loader.gif) 0px 0px/17px 17px no-repeat !important;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0;
}

button.primary span.ui-button-icon-secondary.ui-icon-indicator:before {
    content: '\f08e';
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

button i.fa {
    margin-left: 15px;
}

input[type='text'],
input[type='password'],
textarea {
    width: 150px;
    padding: 6px;

    border: 1px solid #99dff9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: #666;;
    font-size: 16px;
    font-family: "Helvetica Neue LT Pro", Arial, sans-serif;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 0;
    vertical-align: middle;

    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='text']:focus + span.calendarPopupLink,
textarea:focus {
    border-color: #00aeef;
}

input[type='text']:disabled,
input[type='password']:disabled,
textarea:disabled {
    color: #999;
    background-color: #F7F7F7;
}

input[type='checkbox'],
input[type='radio'] {
    cursor: pointer;
    margin: 0 5px 0 10px;
    position: relative;
    top: 1px;
}

input[type='button'].popup,
input[type='button'].primary.popup,
input[type='button'].primary.ghost.popup,
.popupButtonPlaceholder input[type='button'].primary.ghost {
    border: none;
    border-radius: initial;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    line-height: 1em;
    height: 20px;

    /*background: url(../images/popupIcons/popupIconPlus2.png) center right / 18px 18px no-repeat;*/
    background-color: transparent;
    text-decoration: underline;
}

input[type='button'].popup:hover,
input[type='button'].primary.popup:hover,
input[type='button'].primary.ghost.popup:hover,
.popupButtonPlaceholder input[type='button'].primary.ghost:hover {
    border: none;
    background: transparent;
    color: #fa6d16;
    /*background: url(../images/popupIcons/popupIconPlus2.png) center right / 18px 18px no-repeat;*/
    background-color: transparent;
}

p > label,
.selectParagraph > label,
span > label.inline {
    display: inline-block;
    width: 130px;
    font-size: 16px;
    color: #003767;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}

p.wideLabel > label,
.selectParagraph.wideLabel > label,
span.wideLabel > label.inline {
    width: 335px;
}

p.inlineWithInput {
    margin-top: 1.45em;
    margin-bottom: 1.45em;
}

select {
    height: 38px;

    margin: 0;
    padding: 6px;

    outline: none;

    border: 1px solid #99dff9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: #000;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background-color: #fff;

    display: inline-block;

    font-family: "Helvetica Neue LT Pro", Arial, sans-serif;
    font-weight: normal;

    cursor: pointer;

    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select:focus {
    border-color: #00aeef;
}

select:disabled {
    color: #999;
    background-color: #F7F7F7;
}

div.select {
    display: inline;
}

a.link-arrow {
    text-decoration: none;
}

/* -------------------- boxpanels --------------------------*/

#content div.boxpanel {
    background: #fff;
    border: 1px solid #cceffb;
    margin-top: 10px;
    margin-bottom: 10px;
    /* material design */
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.paddedBoxpanel {
    padding: 40px 12%;
    margin-bottom: 18px;
}

#content div.boxpanel ul {
    margin-left: 20px;
}

#content div.boxpanel div.defaultLink {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background: #00ade9;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
}

/* =============================== MODAL WINDOW POPUP ====================================== */

body .wicket-modal .w_top_1 {
    display: none;
}

body .wicket-modal .w_bottom_1 {
    display: none;
}

body div.wicket-modal div.w_right_1 {
    margin: 0;
}

body div.wicket-modal div.w_blue div.w_left,
body div.wicket-modal div.w_blue div.w_right {
    background: none;
}

body div.wicket-modal div.w_content_1 {
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px 0;
    box-shadow: 0 0 6px 1px #888;
    -moz-box-shadow: 0 0 6px 1px #888;
    -webkit-box-shadow: 0 0 6px 1px #888;
    margin: 5px;
}

body div.wicket-modal div.w_caption {
    height: initial;
    overflow: visible;
    height: 0px;
    position: relative;
    cursor: default;
    line-height: initial;
    z-index: 1;
}

body div.wicket-modal div.w_caption a.w_close {
    right: 14px;
    top: 10px;
}

body div.wicket-modal div.w_content_2 {
    padding: 0;
    margin: 4px 0;
}

body div.wicket-modal div.w_content_3 {
    border: none;
}

.modalWindowClass h2 {
    padding: 0px 10px;
    margin-top: 0;
}

.modalWindowClass tr:hover {
    background-color: #e3f8ff;
}

.modalWindowClass td.border {
    width: 5px;
}

body div.wicket-modal div.w_caption {
    z-index: 20002;
}

/* -------------------- auth page commons --------------------------*/

#content .authPanel,
#content .pwdAuthPanel,
#feedback {
    width: 330px;
    margin: 30px auto;
}

#content .pwdAuthPanel {
    width: 415px;
}

#content .pwdAuthPanel p > label {
    width: 100px;
}

#content #wantToKnowMore {
    padding-top: 20px;
}

#content p > label.hideUsernameLabel {
    font-size: 12px;
    position: absolute;
    width: 160px;
}

/* -------------------- errors ---------------------*/

#feedback {
    /* see #content .authPanel */
}

#content ul.feedbackPanel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #d52027;
}

ul.feedbackPanel li {
    color: #d52027;
}

.errorBlock {
    background: none;

    border: 1px solid #9dddf3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: #003767;
    padding: 35px 20px;
    padding-left: 70px;
    font-size: 15px;
    line-height: 20px;

    background: url(../images/warning-icon-2.png) 20px center no-repeat;
}

.infoBlock {
    background: none;

    border: 1px solid #9dddf3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: #003767;
    padding: 35px 20px;
    padding-left: 70px;
    font-size: 15px;
    line-height: 20px;
}

.errortext,
li .feedbackPanelFATAL,
li .feedbackPanelERROR {
    display: block;

    font-size: 14px;
    line-height: 20px;
    color: #d52027;
    margin-top: 5px;
}

ul.feedbackPanel li {
    margin: 0px 0px 3px 0px;
}

ul.feedbackPanel li .feedbackPanelINFO {
    /* warning white-like, plus mainBox */
    display: block;
    /*background: #fff url('../images/success.png') no-repeat no-repeat 20px center !important;*/
}

/* ==================== warning boxes ==========================*/

.warning {
    color: #003767;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 5px 15px 60px;
    background: #e3f8ff url('../images/warning-icon-2.png') no-repeat no-repeat 14px center !important;
    text-align: left;
}

/* -------------------- mobile devices ---------------------*/

.download_mobile_app {
    display: inline-block;
    width: 140px;
    height: 45px;
}

#download_macos {
    background: url(../images/mobile/appStore.png) no-repeat no-repeat;
}

#download_android {
    background: url(../images/mobile/googlePlay.png) no-repeat no-repeat;
    background-size: 120px;
}

/* -------------------- auth type specific, but common ---------------------*/

#devicepanel {
    text-align: center;
}

#infoMessage {
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
}

#infoMessage .ulBlock {
    display: inline-block;
    width: 50%;
    min-width: 300px;
    vertical-align: top;
}

/* ------------- mobile-token specific --------------------- */

#content #mtokenLoginPanel h2,
#content #mtokenLoginPanel p {
    margin-left: 10px;
    margin-right: 10px;
}

#content #mtokenLoginPanel div.boxpanel {
    display: inline-block;
    width: 406px;
    height: 520px;
    margin-right: 10px;
    position: relative;
    vertical-align: top;
    border: 0;
    border: none;
}

#content #mtokenLoginPanel div.boxpanel:last-child {
    margin-left: 0;
}

#content #mtokenLoginPanel #feedback {
    margin-top: 0;
    margin-bottom: 0;
    width: 380px;
}

.mtoken_login {
    display: inline-block;
    vertical-align: top;
    margin-top: 180px;
}
.mtoken_login img.vascoCodeImage {
}

.mtoken_login img.vascoCodeImage_bw {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#content .automaticImg {
    width: 100%;
    height: 140px;
    background: url('../images/mtoken/automaticLogin.jpg') no-repeat no-repeat center -55px;
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#content .manualImg {
    width: 100%;
    height: 140px;
    background: url('../images/mtoken/ebank_manualis_bejelentkezas-kartya.jpg') no-repeat no-repeat center;
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input[type='text'].otpCode {
    width: 190px;
}

.defaultLink input[type="button"].primary {
    padding: 0px 30px;
    height: 40px;
}

@keyframes indicator {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.animate {
    display: inline-block;
    opacity: 1;

    animation-name: indicator;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.page-header-div {
    padding: 20px 0px 15px;
    background: #e6f7fe;
    color: #003767;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.wrap {
    padding: 0 20px;
    margin: 0 auto;
    display: block;
    color: #003767;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

#header-title {
    margin: 0;
    font-size: 34px;
    line-height: 1.25;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.eproduct-login-boxes {
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    display: block;
    color: #003767;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin-top: 50px;
    max-width: calc(80% - 100px);
}

.eproduct-login-box {
    max-width: 300px;
    margin-left: 0;
    position: relative;
    display: inline-block;
    width: calc(27% - 67px);
    min-height: 145px;
    margin: 0 13px 20px;
    padding: 25px 25px 40px;
    background: #fff;
    border: 1px solid #99dff9;
    border-radius: 4px;
    color: #003767;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
}

.btn {
    min-width: 120px;
    padding: 12px 20px 12px 60px;
    position: relative;
    display: inline-block;
    background: #fa6d16;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    outline: none;
    box-shadow: none;
    transition: background 0.5s;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-family: Helvetica, Arial, sans-serif;
}

.text1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: none;
    line-height: 20px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
}

.text2 {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    line-height: 20px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
}

ul.under-links {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
    padding: 8px 0 !important;
    background: #e6f7fe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    color: #003767;
    font-size: 14px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin-bottom: 0px;
}

li.under-link {
    display: inline-block;
    line-height: 1.4;
    text-align: -webkit-match-parent;
    color: #003767;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    content: '|';
    display: inline-block;
    margin: 0 -10px 0 10px;
}

ul.under-links li::after {
    content: '|';
    display: inline-block;
    margin: 0 8px 0 10px;
    font-weight: bold;
}

ul.under-links li:last-child:after {
    display: none;
}

a.under-link-ref {
    color: #003767;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.4;
    text-align: -webkit-match-parent;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.icon-plus {
    left: 15px;
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: none;
}

/* ----- Partially Stighted -----*/

.toggle-partially-sighted,
body.partially-sighted .toggle-partially-sighted {
    background: url(../images/partially-sighted.png) no-repeat 0 center !important;
    height: 35px;
    width: 24px;
    position: absolute;
    top: 0;
    margin-left: 10px;
    cursor: pointer;
}

body.partially-sighted {
    background: #000 !important;
    background-image: none !important;
    color: yellow !important;
}

body.partially-sighted * {
    background: #000 !important;
    background-image: none !important;
    color: yellow !important;
}

body.partially-sighted img,
body.partially-sighted video {
    display: none !important;
}

body.partially-sighted #headerSection #headerLogo {
    background: url(../pic/KH_logo.png) no-repeat no-repeat !important;
}

body.partially-sighted .mtoken_login img.vascoCodeImage {
    display: inline-block !important;
}

body.partially-sighted #content #mtokenLoginPanel div.boxpanel {
    border: 1px solid yellow;
}