@charset "UTF-8";
@font-face {
  font-family: 'khicon';
  src: url("../kh-fonts/khicon.eot?gp2hi7");
  src: url("../kh-fonts/khicon.eot?gp2hi7#iefix") format("embedded-opentype"), url("../kh-fonts/khicon.ttf?gp2hi7") format("truetype"), url("../kh-fonts/khicon.woff?gp2hi7") format("woff"), url("../kh-fonts/khicon.svg?gp2hi7#khicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="khicon-"], [class*=" khicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'khicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.khicon-alairt-tranzakcio:before {
  content: ""; }

.khicon-allampapirvetel:before {
  content: ""; }

.khicon-befektetesijegy-vetel:before {
  content: ""; }

.khicon-forintatutalas:before {
  content: ""; }

.khicon-korabbi-mobilfeltoltesek-megtekintese:before {
  content: ""; }

.khicon-sargacsekk:before {
  content: ""; }

.khicon-sms-tortenet-megtekintese:before {
  content: ""; }

.khicon-lock:before {
  content: ""; }

.khicon-token:before {
  content: ""; }

.khicon-account:before {
  content: ""; }

.khicon-account-no:before {
  content: ""; }

.khicon-card:before {
  content: ""; }

.khicon-coin-chart:before {
  content: ""; }

.khicon-contact-options:before {
  content: ""; }

.khicon-document-filling:before {
  content: ""; }

.khicon-document-filling2:before {
  content: ""; }

.khicon-document-info:before {
  content: ""; }

.khicon-document-search2:before {
  content: ""; }

.khicon-email:before {
  content: ""; }

.khicon-envelope-card:before {
  content: ""; }

.khicon-exchange:before {
  content: ""; }

.khicon-gear-wheel:before {
  content: ""; }

.khicon-give-in-documents:before {
  content: ""; }

.khicon-important:before {
  content: ""; }

.khicon-key:before {
  content: ""; }

.khicon-mobile-QR:before {
  content: ""; }

.khicon-mobile-SMS:before {
  content: ""; }

.khicon-money:before {
  content: ""; }

.khicon-paint-roller:before {
  content: ""; }

.khicon-phone-book:before {
  content: ""; }

.khicon-posting-contract:before {
  content: ""; }

.khicon-question:before {
  content: ""; }

.khicon-refinance:before {
  content: ""; }

.khicon-sign-in:before {
  content: ""; }

.khicon-signing:before {
  content: ""; }

.khicon-szep-card:before {
  content: ""; }

.khicon-truck:before {
  content: ""; }

.khicon-atm:before {
  content: ""; }

.khicon-here:before {
  content: ""; }

.khicon-road:before {
  content: ""; }

.khicon-android:before {
  content: ""; }

.khicon-apple:before {
  content: ""; }

.khicon-branch:before {
  content: ""; }

.khicon-browser:before {
  content: ""; }

.khicon-calculator:before {
  content: ""; }

.khicon-car:before {
  content: ""; }

.khicon-coin-change:before {
  content: ""; }

.khicon-credit-cards:before {
  content: ""; }

.khicon-document-edit:before {
  content: ""; }

.khicon-document-search:before {
  content: ""; }

.khicon-handshake:before {
  content: ""; }

.khicon-headset:before {
  content: ""; }

.khicon-house:before {
  content: ""; }

.khicon-list:before {
  content: ""; }

.khicon-money-stack:before {
  content: ""; }

.khicon-plane:before {
  content: ""; }

.khicon-tools:before {
  content: ""; }

.khicon-version:before {
  content: ""; }

.khicon-warning:before {
  content: ""; }

.khicon-warning2:before {
  content: ""; }

.khicon-quotes-left:before {
  content: ""; }

/*# sourceMappingURL=style.css.map */