html {
	height:100%;

}

body {
    text-decoration: none;
	font-family: Arial;
	font-size: 11px;
	color: #555555;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(87,90,95);
}

img.noborder
{
	margin: 0px;
	padding: 0px;
	border: none;
}

form {
	margin:0px; 
	padding:0px; 
}

.minwidthcontainer
{
	min-width:500px;
	/*width: expression(parseInt(document.documentElement.offsetWidth) < 780 ? "780px" : "auto");*/
}
/*
.header_bg
{
	background-image: url('/eibpublic_granit/pics/header.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}
*/
/*
img.square_icon
{
	padding: 0px;
	margin: 0px;
	margin-right: 5px;
	vertical-align: middle;
}
*/

img.arrow_icon
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-left: 3px;
	vertical-align: middle;
}


/* linkek */
a, a:visited
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a.footer_link
{
	color: white;
	text-decoration: none;
}

a.footer_link:hover
{
	color: white;
	text-decoration: underline;
}

a.header_link
{
	font-family: "Trebuchet MS", Arial;
	font-weight: bold;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

a.header_link:hover
{
	/*color: rgb(213,118,35);*/
	/*color: rgb(0,109,168);*/
	color: white;
	text-decoration: underline;

}

div.copyright
{
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding: 13px;
	font-weight: bold;
	text-align: center;
}

img.error
{
	margin: 8px;
	width: 40px;
	vertical-align: middle;
}

span.error
{
	font-weight: bold;
	color: rgb(167,25,48);
	font-family: Arial;
	font-size: 12px;
}

div.title
{
	font-family: Arial;
	font-size: 19px;
	font-weight: bold;
	color: rgb(26,82,29);
	font-style: normal;
	text-decoration: none;
	margin-bottom: 22px;
}

.label
{
	color: rgb(87,90,95);
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
}

.text
{
	color: rgb(87,90,95);
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
}

.errorline
{
	color: rgb(167,25,48);
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
}

.clear {
	clear: both;
}

.input
{
    /*background-color: rgb(229,243,207);*/
    background-color: rgb(203,207,179);
    border: 1px solid rgb(177,177,177);
	color: rgb(85,85,85);
	height: 18px;
	width: 200px;
}

.button
{
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	height: 23px;
	padding-bottom: 2px;
}

.button_left
{
	height:23px;
	position: relative;
	vertical-align: middle;
}

.button_right
{
	position: relative;
	background-repeat: no-repeat;
	height:23px;
	padding-right:0px;
	vertical-align: middle;
}

.button_middle
{
	position: relative;
	height:23px;
	border:none;
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
	cursor: pointer;
	vertical-align: middle;
	background-color: rgb(26,82,29);
	background-image: url("menuitem_bg.gif");
	background-repeat: repeat-x;
	padding-bottom: 1px;
}

a.bodylink:link, a.bodylink:visited {
	text-decoration: none;
	/*color: rgb(213,118,35);*/
	color: rgb(0,109,168);
}

a.bodylink:hover {
	text-decoration: none;
	color: rgb(50,50,50);
}

a.bodylink_bold:link, a.bodylink_bold:visited {
	text-decoration: none;
	/*color: rgb(213,118,35);*/
	color: rgb(0,109,168);
	font-weight: bold;
}

a.bodylink_bold:hover {
	text-decoration: none;
	color: rgb(50,50,50);
	font-weight: bold;
}

a.loginlink
{
	/*text-decoration: underline;*/
	text-decoration: none;
	color: rgb(87,90,95);
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
}

a.loginlink:hover
{
	text-decoration: none;
	color: rgb(167,25,48);
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
}

.info
{
	color: rgb(87,90,95);
	font-size: 10px;
	font-family: Arial;
	/*
	margin-left: 20px;
	margin-right: 123px;
	margin-top: 10px;
	*/
	margin-left: 25px;
}
.homepagelink {
	display: none;
}
/*
td.header_img
{
	background-image: url('/eibpublic_granit/pics/header_img.jpg');
	background-repeat: no-repeat;
	background-position: top left;
}
td.header_right
{
	background-image: url('/eibpublic_granit/pics/header_right.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}

div.header_right_bg
{
	background-image: url('/eibpublic_granit/pics/header_right_big.jpg');
	background-repeat: no-repeat;
	background-position: top right;
}
*/
a.header_link_dark
{
	font-family: Arial;
	font-weight: bold;
	color: rgb(163,163,163);
	font-size: 12px;
	text-decoration: none;
}

a.header_link_dark:hover
{
	text-decoration: underline;
}

.header_text_dark
{
	font-family: Arial;
	font-weight: bold;
	color: rgb(163,163,163);
	font-size: 12px;
}

.header_text
{
	font-family: Arial;
	font-weight: bold;
	color: white;
	font-size: 12px;
	/*text-transform: uppercase;*/
	text-decoration: none;
}

div.content
{
	padding: 12px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin: 0px;
}

td.main_login
{
	background-image: url("main_login.jpg");
	background-repeat: repeat-x;
	background-position: top;
	background-color: white;
}

.main_left
{
	background-image: url("main_left2.jpg");
	background-repeat: repeat-y;
	background-position: top;
	background-color: white;
}

.main_right
{
	background-image: url("main_right2.jpg");
	background-repeat: repeat-y;
	background-position: top;
	background-color: white;
}

tr.header_top
{
	background-image: url("header_top.jpg");
	background-repeat: repeat-x;
	background-position: top left;
}

tr.header_bottom
{
	background-image: url("header_bottom.jpg");
	background-repeat: repeat-x;
	background-position: top left;
}

div.contentbg
{
	background-image: url("content_bg.jpg");
	background-repeat: repeat-x;
	background-position: top;
}

td.main_end
{
	background-image: url("main_end.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: white;
}

div.footer
{
	width: 100%;
	background-color: rgb(31, 36, 42);
}
