@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: 'Roboto' !important;
}

.rbsso-login {
    background-color: #f4f4f4;
    color: #000000;
    font-size: 14px;
}

#form_1 {
    min-height: 300px;
}

.rbsso-login h1 {
    color: #000000;
    font-size: 25px;
}

.rbsso-login h2 {
    color: #000000;
    font-size: 20px;
}

.rbsso-login .rb-header {
    background-color: #ffffff;
    color: #000000;
}

.rbsso-login .rb-header h1 {
    color: #000000;
    font-size: 18px !important;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.rbsso-login .rb-header .content {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: left;
}

.rbsso-login .rb-header .content .right {
    text-align: right;
}

.rbsso-login .rb-header .content .right .icons {
    display: inline-flex;
}

.rbsso-login .rb-header .content .right .icons .language {
    padding-left: 50px;
}

.rbsso-login .rb-header .content .right a {
    color: #000000;
    text-decoration: none;
}

.rbsso-login .rb-footer-outher {
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
}

.rb-footer-outher a {
    line-height: 30px;
}

.rbsso-login .rb-footer {
    margin-top: 50px; 
    background-color: #b2b2b2; 
    color: #000000;
    font-size: 14px;
}

.rbsso-login .rb-footer .content {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rbsso-login .rb-footer .content .left {
    text-align: left;
}

.rbsso-login .rb-footer .content .left a {
    color: #000000;
    margin-right: 20px;
}

.rbsso-login .rb-footer .content .right {
    text-align: right;
}

.rbsso-login .rb-footer .content .center {
    text-align: center;
}

.rb-footer-outher .rb-panel {
    margin-top: 0px !important;
    color: #000000;
}

.rbsso-login .rb-footer .copyright {
    line-height: 30px;
}

.rbsso-login .rb-panel {
    margin-top: 50px;
    color: #000000;
}

.rbsso-login .rb-panel .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rbsso-login .rb-panel .header {
    background-color: #ffffff;
    padding-left: 70px; 
    padding-right: 70px; 
    height: 80px;
    display: flex;
}

.rbsso-login .rb-panel .header h1 {
    font-size: 28px !important;
    text-transform: uppercase !important;
    margin: 0px;
    padding-top: 25px;
    flex: 80%;
}

.rbsso-login .rb-panel .header h2 {
    font-size: 24px;
    text-transform: uppercase; 
    margin: 0px;
    padding-top: 30px;
    flex: 80%;
}

.rbsso-login .rb-panel .header .right {
    flex: 20%; 
    text-align: right;
}

.rbsso-login .rb-panel .header img {
    width: 30px; 
    padding-top: 30px;
    cursor: pointer;
}

.rbsso-login .rb-panel .horizontal-separator {
    background-color: #f4f4f4;
    height: 20px;
}

.rbsso-login .rb-panel .horizontal-separator-lite {
    height: 3px; 
    color: #f4f4f4;
}

.rbsso-login .rb-panel .vertical-separator {
    width: 20px;
    background-color: #f4f4f4;
}

.rbsso-login .rb-panel .rb-button {
    display: flex; 
    justify-content: center;
    border-radius: 4px;
}

.rbsso-login .rb-panel .rb-button-active {
    background-color: #fee600;
    color: #2b2d33;
    border: none !important;
    flex: 50%;
    text-transform: uppercase; 
    text-align: center;
    outline: none !important;
    font-size: 16px; 
    cursor: pointer;
    height: 56px;
    min-width: 240px;
    border-radius: 4px;
}

.rbsso-login .rb-panel .rb-button-active:hover {
    background-color: #fed500;
    color: #2b2d33;
}

.rbsso-login .rb-panel .rb-button-inactive {
    background-color: #ffffff;
    color: #b2b2b2;
    border: none !important;
    flex: 50%;
    text-transform: uppercase; 
    text-align: center;
    outline: none !important;
    font-size: 16px; 
    cursor: pointer;
    min-width: 240px;
    border-radius: 4px;
    height: 56px;
}

.rbsso-login .rb-panel .rb-button-inactive:hover {
    background-color: #fed500;
    color: #2b2d33;
}

.rbsso-login .rb-panel .rb-button:active {
    border: none !important;
    outline: none !important;
    border-radius: 4px;
}

.rbsso-login .rb-panel .rb-button:focus {
    border: none !important;
    outline: none !important;
    border-radius: 4px;
}

.rbsso-login .rb-panel .rb-button-anchor {
    background-color: #fee600;
    color: #2b2d33;
    border: none !important;
    flex: 50%;
    text-transform: uppercase; 
    text-align: center;
    outline: none !important;
    font-size: 14px; 
    cursor: pointer;
    min-width: 240px;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px;
}

.rbsso-login .rb-panel .rb-button-anchor:hover {
    background-color: #fed500;
    color: #2b2d33;
}

.rbsso-login .rb-panel .rb-form {
    background-color: #ffffff;
}

.rbsso-login .rb-panel .rb-form .active {
    padding-left: 5px; 
    background-color: #fee600;
}

.rbsso-login .rb-panel .rb-form .success {
    padding-left: 5px; 
    background-color: #35b37e !important;
}

.rbsso-login .rb-panel .rb-form .rb-errorForm {
    padding-left: 5px; 
    background-color: #e61e33 !important;
}

.rbsso-login .rb-panel .rb-form .rb-button {
    background-color: #fefbcc;
    color: #808185;
}

.rbsso-login .rb-panel .rb-form .rb-button-inactive {
    background-color: #fefbcc;
    color: #808185;
}

.rbsso-login .rb-panel .rb-form a {
    color: #000000; 
    text-decoration-color: #fee600 !important; 
    -webkit-text-decoration-color:#fee600 !important; 
    text-decoration: underline;
}

.rbsso-login .rb-panel .rb-form .forget-pwd-button {
    text-align: right !important;
}

.rbsso-login .rb-panel .rb-form .select-another-btn {
    text-align: left !important;
}

.rbsso-login .rb-panel .rb-button-img {
    border: none;
    background-color: transparent;
}

.rbsso-login .rb-panel .content {
    padding-left: 70px; 
    padding-right: 70px; 
    padding-bottom: 20px;
    background-color: #ffffff;
    font-size: 14px; 
    margin: 0px; 
}

.rbsso-login .rb-panel .content p {
    margin: 0px;
    padding-top: 20px;
}

.rbsso-login .rb-panel .content .cronto {
    text-align: center;
    padding-top: 25px;
}

.rbsso-login .rb-panel .content .cronto img {
    width: 200px;
    cursor: pointer;
}

.rbsso-login .rb-panel .content img {
    max-width: 300px;
}

.rbsso-login .rb-panel .content .fields {
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
}

.rbsso-login .rb-panel .content .activate_success {
    padding: 20px;
}

.rbsso-login .rb-panel .content .activate_success p {
    margin: 0px;
    padding-top: 0px;
}

.rbsso-login .rb-panel .content .activate_success .inner {
    display: flex;
    align-items: center;
    justify-content: center;
}


.rbsso-login .rb-panel .content button:enabled {
    border: none; 
    height: 50px; 
    flex: 20%; 
    background-color: #fee600; 
    color: #2b2d33; 
    text-transform: uppercase;
    max-width: 240px;
    min-width: 240px;
    border-radius: 4px;
}

.rbsso-login .rb-panel .content button:enabled:hover {
    background-color: #fed500;
    color: #2b2d33;
}

.btn_as_link {
    color: #373737 !important;;
    text-transform: none !important;;
    font-weight: bold !important;;
    cursor: pointer;
    max-width: 400px !important;
    background-color: transparent !important;
    text-decoration: underline;
    text-decoration-color: #fee600 !important;
    -webkit-text-decoration-color: #fee600 !important;
    height: auto !important;

}

#selectAnotherDevice {
    color: #373737;
    text-transform: none;
    font-weight: bold;
    cursor: pointer;
    max-width: 400px !important;
}

.rbsso-login .rb-panel .content button:active {
    border: none !important;
    outline: none !important;
}

.rbsso-login .rb-panel .content button:focus {
    border: none !important;
    outline: none !important;
}

.rbsso-login .rb-panel .content button:disabled {
    border: none; 
    height: 50px; 
    flex: 20%; 
    background-color: #b2b5be; 
    color: #808185; 
    text-transform: uppercase;
    max-width: 240px;
    min-width: 240px;
    border-radius: 4px;
}

/*
    COOKIE BAR
*/

.rbsso-login .rb-cookiebar {
    background-color: rgba(128, 129, 133, 0.6);
    position: fixed;
    top: 0px;
    font-size: 14px;
    height: 80px;
    bottom: 0;
    width: 100%;
    display: none;
    justify-content: center;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    color: #004454;
    height: auto;
    z-index: 100;
    align-items: center;
}

.rbsso-login .rb-cookiebar .content-outer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-grid;
    top: 30%;
    margin: 10%;
}

.rbsso-login .rb-cookiebar .content-inner {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 10%);
    border-radius: 8px;
    display: block;
    height: min-content;
    text-align: right;
    max-width: 672px !important;
    color: #2B2D33;
    padding: 20px;
    margin: 20px;
}

#cookie_content h1 {
    text-transform: capitalize;
    font-weight: bold;
}

#cookie_title {
    text-align: left;
}

#cookie_btn_bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cookie_link1 {
    flex: 60%;
}

#cookie_link1 p {
    font-weight: bold;
}

#cookie_button {
    
}

.rbsso-login .rb-cookiebar .content-inner a {
    color: #004454;
}

.rbsso-login .rb-cookiebar .content-inner img {
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

.rbsso-login .rb-cookiebar .content-inner h1 {
    font-size: 24px;
    color: #004454;
    text-align: left;
    margin-bottom: 20px;
}

.rbsso-login .rb-cookiebar .content-inner p {
    text-align: left;
    margin: 0px;
    font-size: 14px;
}

.rbsso-login .rb-cookiebar .content-inner span {
    font-weight: bold;
}

.rbsso-login .rb-cookiebar .content-inner button {
    min-width: 150px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #004454;
    border-color: #004454;
    border-style: solid;
}

.rbsso-login .rb-cookiebar .content-inner button:active {
    outline: none !important;
}

.rbsso-login .rb-cookiebar .content-inner button:focus {
    outline: none !important;
}

.rbsso-login .rb-cookiebar .content-inner button:hover {
    outline: none !important;
}
    

/**

Input field label + animation

**/

.rbsso-login .rb-panel .rb-form .field_error_msg {
    color: #e61e33;
    display: none;
    font-size: 12px;
    padding-top: 5px;
}

.rbsso-login .rb-panel .rb-form .error_msg {
    color: #e61e33;
    display: none;
    font-size: 12px;
    padding-top: 5px;
}

.rbsso-login .rb-panel .rb-form .info_msg {
    color: blue;
}

.rbsso-login .rb-panel .rb-form .warning_msg {
    color: yellow;
}

.rbsso-login .rb-panel .rb-form .rb-group {
    width: 100%;
    height: 50px;
    position: relative;
    flex: 40%; 
    margin-right: 20px;
    max-width: 310px;
  }

  .rbsso-login .rb-panel .rb-form .rb-placeholder {
      max-width: 100px;
  }

  .rbsso-login .rb-panel .rb-form .rb-group-btn {
    width: 100%;
    height: 50px;
    position: relative;
    flex: 40%; 
    margin-right: 20px;
    max-width: 310px;
    text-align: right;
  }

  .rbsso-login .rb-panel .rb-form .rb-group-btn-left {
    text-align: left !important;
  }
  
.rbsso-login .rb-panel .rb-form .rb-group .rb-group-placeholder {
    position: absolute;
    top: 20px;
    font-size: 14px;
    color: #666666;
    cursor: text;
    transition: 0.25s ease;
    padding-left: 20px; 
    padding-right: 20px;
}
  
.rbsso-login .rb-panel .rb-form .rb-group input {
    display: block;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px; 
    padding-right: 20px; 
    color: #000000; 
    border: none; 
    border-bottom: 1px solid #b2b2b2; 
    background-color: #f4f4f4; 
    height: 50px;
    width: 100%;
    transition: 0.3s ease;
    outline: none;
  }
  .rbsso-login .rb-panel .rb-form .rb-group .label-with-value {
    top: 5px;
    font-size: 10px;
    color: #666666;
  }
  .rbsso-login .rb-panel .rb-form .rb-group input:focus:invalid {
    outline: none;
  }
  .rbsso-login .rb-panel .rb-form .rb-group input:disabled {
    border: 1px solid #b2b2b2; 
    background-color: #ffffff;
  }
  .rbsso-login .rb-panel .rb-form .rb-group input:disabled ~ label {
    top: 5px;
    font-size: 10px;
    color: #666666;
    position: absolute;
    left: 20px;
  }

  .rbsso-login .card.card-body {
      padding-top: 20px;
  }

  input:required,
  input:invalid {
    box-shadow:none !important;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
    box-shadow: 0 0 0 30px #f4f4f4 inset !important;
  }

  /**

  Modal Popup

  **/

.modal-header {
    border-bottom: 0px !important;
    border: none !important;
    padding: 0px !important;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 0px;
    border: none;
    padding: 25px;
    text-align: center;
}

.modal-content button {
    font-size: 14px !important;
    height: 50px !important;
    max-width: 240px;
    min-width: 240px;
}

.modal-content .rb-button-modal {
    background-color: #fee600;
    color: #2b2d33;
    border: none !important;
    flex: 50%;
    text-transform: uppercase; 
    text-align: center;
    outline: none !important;
    font-size: 16px; 
    cursor: pointer;
    height: 56px;
    min-width: 240px;
    border-radius: 4px;
}

.modal-content .rb-title {
    text-align: center;
}

.modal-content .rb-content {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal-content .rb-button {
    min-width: 150px; 
    border: none; 
    height: 48px; 
    background-color: #fee600; 
    color: #000000; 
    text-transform: uppercase;
}

#imagemodal {
    padding: 0px !important;
}

.modal-open {
    padding: 0px !important;
}

/**

Arrows

**/

i {
    padding-left: 10px;
}
 
/**

Tooltips

**/

.rb-tooltip-icon {
    position: absolute;
    top: 20px;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    right: 20px;
}

.tooltip.bottom .tooltip-inner {
    background-color:white;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    text-align: left;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: white;
}  

/**
 OPTIONAL DISABLE COLLAPSE ANIMATION
**/

.no-transition {
    transition: none !important;
}

/**

 START CAROUSEL

 **/

 .carousel {
    position: relative;
    background-color: white;
    padding-top: 20px;
}

.carousel-indicators {
    bottom: 0px !important;
    position: relative !important;
    left: 0px !important;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0px !important;
    text-align: center;
    list-style: none;
    height: 40px;
    margin-bottom: 0px;
}

 .carousel-indicators li {
    width: 30px;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 3px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    background-color: #e2e2e2;
    border: none !important;
    border-radius: 0px !important;
    margin-top: 20px;
    margin-bottom: 0px;
}

.carousel-indicators .active {
    width: 30px;
    height: 3px;
    margin-right: 3px !important;
    margin-left: 3px !important;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #fee600 !important;
}

.carousel-control {
    width: 10% !important;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-inner {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding-bottom: 0px !important;
    cursor: pointer;
}

.carousel-inner .item {
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 960px !important;
}

.arrow-right {
    color: #373737;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 30px;
    margin-top: -15px;
    font-size: 30px;

    margin-right: -15px;
    right: 50%;

    transform: rotate(-90deg);
}

.arrow-left {
    color: #373737;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 30px;
    margin-top: -15px;
    font-size: 30px;

    margin-left: -15px;
    left: 50%;

    transform: rotate(90deg);
}

/* CAROUSEL FADE EFFECT */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }    
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }    
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }    
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }    
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  
  /*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
    Need to override the 3.3 new styles for modern browsers & apply opacity*/
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  }

 /** 

 START RESPONSIVE

 **/

 /** 
 COOKIE POPUP RESPONSIVE - BOOTSTRAP UPGRADE START
 **/
 @media (max-width: 420px) {
    .rbsso-login .rb-cookiebar .content-inner button {
        min-width: 100%;
    }
 }
 @media (min-width: 768px) {
    .rbsso-login .rb-cookiebar .content-inner .col-sm-6 {
        width: 100%;
    }
 }
 @media (min-width: 421px) {
    .rbsso-login .rb-cookiebar .content-inner .col-sm-6 {
        width: 50%;
    }
    .rbsso-login .rb-cookiebar .content-inner .col-sm-6 #cookie_link1 {
        margin-top: 15px;
    }
 }
 @media (max-width: 420px) {
    .rbsso-login .rb-cookiebar .content-inner {
        text-align: left !important;
    }
    #cookie_button {
        margin-top: 20px;
    }
 }
 /** 
 COOKIE POPUP RESPONSIVE - BOOTSTRAP UPGRADE END
 **/

 @media (max-width: 576px) {


    .rbsso-login {
        font-size: 12px;
    }
    .rbsso-login h1 {
        font-size: 20px;
    }
    .rbsso-login h2 {
        font-size: 15px;
    }
    .rbsso-login .rb-header h1 {
        font-size: 16px;
    }
    .rbsso-login .rb-footer {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .header h1 {
        font-size: 24px;
    }
    .rbsso-login .rb-panel .header h2 {
        font-size: 20px;
    }
    .rbsso-login .rb-panel .rb-button-active {
        font-size: 14px;
    }
    .rbsso-login .rb-panel .rb-button-active {
        font-size: 14px;
    }
    .rbsso-login .rb-panel .rb-button-anchor {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .content {
        font-size: 12px;
    }
    .rbsso-login .rb-cookiebar {
        font-size: 12px;
    }
    .rbsso-login .rb-cookiebar .content-inner p {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .rb-form .field_error_msg {
        font-size: 10px;
    }
    .rbsso-login .rb-panel .rb-form .error_msg {
        font-size: 10px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group .rb-group-placeholder {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group input {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group .label-with-value {
        font-size: 8px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group input:disabled ~ label {
        font-size: 8px;
    }
    .modal-content button {
        font-size: 12px;
    }
    .modal-content .rb-button-modal {
        min-width: 80%;
    }
    .rb-tooltip-icon {
        font-size: 12px;
    }
    
}

@media (max-width: 991px) {
    .rbsso-login .rb-panel .rb-form .rb-group .rb-group-placeholder {
        font-size: 12px;
    }
    .rbsso-login .rb-panel .content button:enabled {
        max-width: 200px;
        min-width: 200px;
    }
    .rbsso-login .rb-panel .content button:disabled {
        max-width: 200px;
        min-width: 200px;
    }
    .rbsso-login .rb-footer {
        text-align: center;
    }
    .rbsso-login .rb-footer .content .right {
        text-align: center !important;
    }
    .rbsso-login .rb-footer .content .left {
        text-align: center !important;
    }
    .rbsso-login .rb-footer .content .center {
        text-align: center !important;
    }
}


@media (max-width: 768px) {


    #header_contacts {
        display: none;
    }

    .rbsso-login .rb-panel {
        margin-top: 20px;
    }
    .rbsso-login .rb-panel .rb-button-active {
        display: none;
    }
    .rbsso-login .rb-panel .vertical-separator {
        display: none;
    }

    .stage1BlankDiv {
        height: 40px;
    }

    #imgCol1 {
        display: none;
    }
    #imgCol2 {
        display: none;
    }

    #stage1BlankDiv {
        display: none;
    }

    .rbsso-login .rb-header h1 {
        display: none;
    }
    .rbsso-login .rb-panel .header {
        padding-left: 10%;
        padding-right: 0px;
        display: block;
        height: auto;
    }
    .rbsso-login .rb-panel .header h2 {
        padding-bottom: 10px;
    }
    .rbsso-login .rb-panel .content {
        padding-left: 10%;
        padding-right: 10%;
    }
    .rbsso-login .rb-panel .content .fields {
        display: block;
    }
    .rbsso-login .rb-panel .rb-form {
        padding-bottom: 0px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group {
        margin-top: 10px;
        max-width: 100%;
        height: 100%;
    }
    .rbsso-login .rb-panel .rb-form .rb-group-btn {
        text-align: center;
        margin-top: 5%;
        max-width: initial;
        margin-right: 0px;
    }
    .rbsso-login .rb-panel .rb-form .rb-group-btn-left {
        text-align: center !important;
    }

    .rbsso-login .rb-panel .rb-form .forget-pwd-button {
        text-align: center !important;
    }
    
    .rbsso-login .rb-panel .rb-form .select-another-btn {
        text-align: center !important;
        padding-bottom: 20px;
    }
    
    .rbsso-login .card.card-body {
        text-align: center;
    }
    .rbsso-login .card.card-body button {
        margin-top: 10px;
    }

    
    .rbsso-login .rb-panel .content button:enabled {
        max-width: 80%;
    }
    .rbsso-login .rb-panel .content button:disabled {
        max-width: 80%;
    }

    .rbsso-login .card.card-body {
        padding-top: 0px;;
    }
}

@media (max-width: 1200px) {
   
}