.chat-div{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    font-size: 15px;
    color: rgba(17,17,17,.85);
    font-family: PT Sans,sans-serif;
    position: fixed;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    transition: .2s linear;
    transition-property: visibility,opacity;
    backface-visibility: hidden;
    min-height: 0;
    min-width: 0;
    display: block;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    visibility: visible;
    opacity: 1;
    bottom: 10px;
    right: 10px;
    transform: none;
    z-index: 2147483647;
}
#chatra__iframe-wrapper{
    box-shadow: 0 0 3px rgba(0,0,0,0.1), 0 5px 50px rgba(0,0,0,0.2);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    font-size: 15px;
    color: rgba(17,17,17,.85);
    font-family: PT Sans,sans-serif;
    visibility: visible;
    box-sizing: border-box;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    background: transparent !important;
    opacity: 1;
    transform: none;
    position: absolute;
    overflow: hidden !important;
    border-radius: 12px;
    animation: chatra-chat-appear 150ms ease-out 50ms both;
    animation-name: chatra-transparent-appear;
}
#chatra__iframe{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    font-size: 15px;
    color: rgba(17,17,17,.85);
    font-family: PT Sans,sans-serif;
    visibility: visible;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    box-sizing: border-box;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    background: transparent !important;
    opacity: 1;
    transform: none;
    border-radius: 12px;
    -webkit-mask-image: linear-gradient(#000,#000);
    -webkit-mask-position: 50% 50%;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
}