::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #99a0ca00
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #262532;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #33323c;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 5px;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Proxima Nova Regular", sans-serif;
}

input, textarea {
    outline: none;
}

input:active, textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

textarea:-moz-placeholder {
    font-size: 15px;
    color: #000000c4;
    -webkit-user-select: none;
}

textarea::-webkit-input-placeholder {
    font-size: 15px;
    color: #000000c4;
    -webkit-user-select: none;
}

* {
    -webkit-transition: ease .2s;
    transition: ease .2s;
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
}

html {
    /*background: #1e1f2f url(/static/images/snowflakes.png) top repeat;
    background: linear-gradient(to right, #252639, #1e1f2f);*/
    background: #f8f8f8;
    color: #0f121e;
    overflow: hidden;
    height: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: #0f121e;
}

a:-webkit-any-link {
    text-decoration: none;
}

body {
    overflow: hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /*    display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;*/
    position: relative;
    -webkit-transition: -webkit-linear .2s;
    -moz-transition: -moz-linear .2s;
    -ms-transition: -ms-linear .2s;
    -o-transition: -o-linear .2s;
    transition: linear .2s;
}

body.Active {
    overflow: hidden;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #99a0ca00
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #262532;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #33323c;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 5px;
}

input, textarea {
    outline: none;
}

input:active, textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

textarea:-moz-placeholder {
    font-size: 15px;
    color: #000000c4;
    -webkit-user-select: none;
}

textarea::-webkit-input-placeholder {
    font-size: 15px;
    color: #000000c4;
    -webkit-user-select: none;
}

* {
    -webkit-transition: ease .2s;
    transition: ease .2s;
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
}

html {
    /*background: #1e1f2f url(/static/images/snowflakes.png) top repeat;
    background: linear-gradient(to right, #252639, #1e1f2f);*/
    background: #f8f8f8;
    color: #0f121e;
    overflow: hidden;
    height: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: #0f121e;
}

a:-webkit-any-link {
    text-decoration: none;
}

body {
    overflow: hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    -webkit-transition: -webkit-linear .2s;
    -moz-transition: -moz-linear .2s;
    -ms-transition: -ms-linear .2s;
    -o-transition: -o-linear .2s;
    transition: linear .2s;
}

body.Active {
    overflow: hidden;
}

.Header {
    background-color: #95bf2d;
    width: -webkit-fill-available;
    height: 60px;
    display: flex;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    /*padding: 16px;*/
}

.HeaderTextNav {
    text-align: center;
    margin: auto;
    font-size: 24px;
    cursor: pointer;
    color: #555353;
}

.Main {
    overflow-y: auto;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.TextHead {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #161924;
}

.CenterMainHead {
    background-color: #fff;
    padding: 6px 16px;
    height: 100px;
    width: -webkit-fill-available;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
}

.Jtonik {
    display: flex;
    margin-left: auto;
}

.SuccText {
    font-size: 20px;
    color: #565656;
}

.PaddBlock.Ms {
    display: none;
}

.ImgTovar {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
}

.ImgTovar:hover {
    transform: scale(1.1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
}

.ImgTovarPay {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
}

.BlockTextCent {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.BalanceText {
    font-weight: bold;
    color: #161924;
    font-size: 20px;
}

.ComentText {
    font-size: 20px;
    color: #565656;
}

.BlockDostavka {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    width: -webkit-fill-available;
    height: 80px;
    display: flex;
    padding: 10px;
    border-radius: 6px;
}

.PaddBlock {
    padding: 2px 40px;
    width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    margin-top: 10px;
}

.BgImgCar {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.CarDostavkaImg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    display: flex;
    width: 25px;
    height: 25px;
    background-image: url(/assets/images/Car.svg);
}

.BlockTextDostav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.TextDostav {
    font-size: 16px;
    color: #161924;
}

.TextDostavTs {
    font-size: 16px;
    color: #565656;
}

.MainOrder {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    /*max-height: 600px;*/
    padding: 20px;
}

.CenterMainOrder {
    width: -webkit-fill-available;
    /*height: -webkit-fill-available;*/
    height: 615px;
    display: flex;
    background-color: #fff;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    /*max-height: 615px;*/
}

.InputOrder {
    border: none;
    background-color: #f8f8f8;
    width: -webkit-fill-available;
    padding: 12px 16px;
    margin-right: 16px;
    height: 60px;
}

.FormOrderInp {
    margin-top: 10px;
    width: -webkit-fill-available;
}

.TextOrderSay {
    font-size: 16px;
    color: #a6a6a6;
    margin-bottom: 10px;
}

.OrderPayForm {
    width: -webkit-fill-available;
    display: flex;
    height: -webkit-fill-available;
}

.BoxOrder {
    width: -webkit-fill-available;
    background-color: #f8f8f8;
    max-width: 535px;
    margin-left: auto;
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.BlockDecoy {
    margin-right: auto;
    margin-left: auto;
}

.TextDecoy {
    font-weight: bold;
    font-size: 20px;
    color: #a6a6a6;
    margin-bottom: 10px;
    text-align: center;
}

.ButtonOrderPay:hover {
    transform: scale(1.05);
    text-align: center;
    padding: 12px 16px;
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fill-available;
    background-color: #71c756;
    border-radius: 6px;
    border: none;
    color: #fff;
    max-width: 300px;
    cursor: pointer;
    margin-top: 20px;
}

.ButtonOrderPay {
    text-align: center;
    padding: 12px 16px;
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fill-available;
    background-color: #8ab816;
    border-radius: 6px;
    border: none;
    color: #fff;
    max-width: 300px;
    cursor: pointer;
    margin-top: 20px;
}

.BoxBerry {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.BlockDecoyText {
    text-align: center;
}

.BlockDecoyOne {
    font-size: 18px;
    color: #a6a6a6;
    margin-bottom: 20px;
    margin-top: 20px;
}

.BlockDecoyTwo {
    font-size: 16px;
    color: #a6a6a6;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.MobAviableFlex {
    display: flex;
}

.FntMobClear {
    color: #3c3c3c;
    font-size: 16px;
}

.MrgWebKit {
    width: -webkit-fill-available;
    margin-right: 20px;
}

.Footer {
    width: -webkit-fill-available;
    height: 80px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.PaddBlock.M {
    margin-bottom: 50px;
}

.FootText {
    text-align: center;
    margin: auto;
    color: #3c3c3c;
    font-size: 14px;
}