.sort-table tbody tr:hover {background-color: #F3F3F3 !important;}

.content-blocks-financeoverview table tr:not([class]):hover{background-color: #F3F3F3 !important;}
.content-blocks-financeoverview table tr.noborder:hover{background-color: #F3F3F3 !important;}

/* foreign selection */
.infomsg__content {
  background-color: #ebf9ed;
}

/* instant payment */
.ip_check {
	border: 1px solid #86B918;
	border-left: 3px solid #86B918;
}

#instantpayment:checked ~ .ip--background {
	background: #f9fff3;
}
