* { font-size:1em; 
   overflow: visible !important;
}

body {
    font-size: 8px !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #FFF;
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    height: 0px; /*overflow: hidden;*/
    clear: both;
    margin: 0;
    padding: 0;
}

#sub-menu, #navi, #auto-logout, #footer, .link-print, .no-print, #bon-noprint, .ui-radio, .ui-checkbox, .content-wrap-bottom, #print, .overlay-disabled, #header .second, #main-navigation, .content-wrap-top, .content-box-top-bright, .small-boxes-info, .content-box-bottom, .small-box-top, .small-box-bottom, #depotNotion .content-box.dark {
    display: none !important;
}

.ui-radio, .ui-helper-hidden-accessible {
    position: static !important;
}

.content-wrap, .small-box-content, .content-box-content {
    border: none;
}

#content-wrap {
	float: none;
}

#logo-easybank {
    display: inline !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
}

#logo a {
    text-indent: 0 !important;
    overflow: visible !important;
}

.content-box-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: 3px solid #000000;
}

.content-box-top, .content-box-content-wrap {
    width: 650px !important;
}

.sexy input {
    border: 1px solid #86B918 !important;
}

.sexy .icon {
    display: none !important;
}

.dynamic-btn .content a, .dynamic-btn .content input {
    background: none !important;
}

.eu-standard-transfer li {
    list-style: inside disc !important;
}

.small-boxes-info .first {
	width: 300px !important;
}

.small-box-content, .content-box-small-content {
    border: 0 !important;
    width: 300px !important;
}

.inactive .combo input {
    border: 1px solid #888888 !important;
    color: #888888 !important;
}

#sales-detail tbody td.receipt a {
    float: none;
    display: inline;
    background: none;
}

select {
	max-width: 450px;
}

.content-box-content, .content-box-bottom, #exchange-details, #wrapper{
    width: 650px !important;
}

#productOpening .input-template {
	width: 450px !important;
}

.select-styled-big{
    width: 450px !important;
}

#accountDetails .input-template{
    width: 450px !important;
}

#depotNotion .overview-box .acc-info{
    width: 350px !important;
}

#standingOrderNew .input-template{
    width: 450px !important;
}

textarea.nachricht {
    width: 100% !important;
}

