*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
	padding: 0;
	margin: 0;
}

::selection {
	background-color: #5e5999;
	color: #fff;
}

body {
	font-family: "Roboto", sans-serif;
	color: #000;
	animation: fadeIn 1s;
}

a, h3, h4, p, label, img {
	user-select: none;
}

.contentBlock {
    max-width: 500px;
    width: 100%;
    background: #fff;
	border: 1px solid #7361f0;
    display: block;
    margin: auto;
    padding: 40px 0;
    border-radius: 3px;
}
.fone{color: #205279;}

.block-info-logo {
	font-size: 13px;
	padding: 10px 15px;
	margin-bottom: 25px;

}


.block-info {
	font-size: 13px;
	line-height: 18px;
	background-color: #f5f6f7;
	box-shadow: 0 0 5px rgb(57, 29, 193);
	border: 1px solid #371ee180;
	border-radius: 4px;
	padding: 10px 15px;
	margin-bottom: 25px;

}
.formfone{border: 1px solid #9f9f9f;border-radius: 4px;
    background-color: #fff;
    padding: 6px;
    box-shadow: none;
    transition: .35s ease;
    -webkit-appearance: none;
	width:65%;}
.heading-info {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px;
}

.description-info {
	color: #777;
	font-size: 14px;
	margin: 0;
}

.important{
	display: flex;
}

.block-error {
	display: none;
	color: #fff;
	background-color: #e74c3c;
	border-radius: 3px;
	padding: 8px 10px;
	margin-top: 20px;
}

.block-error p {
	font-size: 13px;
	margin-top: 2px;
	margin-bottom: 0;
}

.block-error p i {
	margin-right: 8px;
}

.divider {
	background-color: #f5f5f5;
	max-width: 450px;
	height: 2px;
}

.item-method {
	background-color: #f8f8f8;
	text-align: center;
	padding: 10px 10px;
}

.item-method img {
	pointer-events: none;
}

.active-method {
	background-color: #fff;
}

.description-method {
	padding: 15px;
}

.description-method p {
	font-size: 13px;
	margin: 0;
}

.block-form label {
	margin-left:3px;
	font-size: 14px;
	font-weight: 700;
}

.block-form label i {
	margin-left: 3px;
	cursor: pointer;
	transition: .35s ease
}

.block-form label i:hover {
	opacity: .75;
}

.block-form .row .col-xs-4:nth-child(1) .form-group, .block-form .row .col-xs-4:nth-child(2) .form-group {
	margin-right: 10px;
}

.row{
	display: flex;
}

.row input{
	max-width: 100px;
}

input, select, textarea {
    color: #5e4747;
}

textarea:focus, input:focus {
    color: #3498db;
}

.block-form .form-control {
	font-size: 15px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 8px;
	box-shadow: none;
	transition: .35s ease;
	-webkit-appearance: none;
}




.form-control::-webkit-input-placeholder {
	color: #3498db;
}

.form-control::-moz-placeholder {
	color: #0f419f;
}

.form-control:-ms-input-placeholder {
	color: #3498db;
}

.form-control:-moz-placeholder {
	color: #3498db;
}

.block-form .form-control:focus {
	border-color: #3f87f5;
	outline: none;
	color: #080a0b;
}

.input-error {
	border-color: #e74c3c !important;
}

.block-form .tooltip {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.block-info, .block-method, .block-form, .block-footer, .block-paragraph {
	max-width: 430px;
	margin-left: auto;
	margin-right: auto;
}

.block-form-info {
	text-align: center;
}

.heading-total {
	color: #3498db;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 15px;
}

.heading-secure {
	font-size: 13px;
	color: #475395;
	margin-top: 20px;
}

.heading-secure i {
	margin-right: 5px;
}

.block-footer {
	margin-top: 1px;
}

.banks img {
	width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.block-paragraph p {
	margin: 25px 0;
}

.button-primary, .button-secondary, .button-back, .button-generate {
	display: block;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px 5px;
	transition: .35s ease;
}

.button-primary:hover, .button-secondary:hover, .button-back:hover, .button-primary:focus, .button-secondary:focus, .button-back:focus, .button-generate:hover {
	text-decoration: none;
}

.button-secondary {
	background-image: linear-gradient(to right, #211AEE 0%, #126FFF 51%, #3235FB 100%);
	border: none;
    border-radius: 10px;
	color: #fff;
	margin-right: 10px;
}

.button-secondary:hover {
	color: #fff;
}

.button-secondary i {
	position: absolute;
	color: #ccc;
	left: 15px;
	top: 16px;
}

.button-primary {
	background-image: linear-gradient(to right, #211AEE 0%, #126FFF 51%, #3235FB 100%);
	border: none;
    border-radius: 10px;
    color: #fff;
}

.button-primary:hover {
    color: #fff;
}

.button-primary i {
	position: absolute;
	color: #fff;
	right: 15px;
	top: 16px;
}

.button-primary img {
	height: 18px;
}

.button-back {
	background-color: #3f87f5;
	border: 2px solid #3f87f5;
	color: #fff;
}

.button-back:hover {
	color: #fff;
	background-color: #3f87f5;
	border: 2px solid #3f87f5;
}

.button-back i {
	position: absolute;
	color: #fff;
	left: 15px;
	top: 16px;
}

.button-generate {
	background-color: #3f87f5;
	border: 2px solid #3f87f5;
	color: #fff;
}

.button-generate:hover {
	color: #fff;
	background-color: #3f87f5;
	border: 2px solid #3f87f5;
}

.input-checkbox {
	position: relative;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-right: 5px !important;
	top: 3px;
}

.row-inner {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px;
  background-color: #d0ccfffc;
}



@media (max-width: 380px) {
	.block-form label {
		white-space: nowrap;
	}
}

@media (max-width: 480px) {
	body {
		padding: 20px;
	}

	.block-footer {
		margin-bottom: 5px;
	}
}


	body {
		/*background: url('../img/backfon.jpg') center repeat-x;*/
        background-size: cover;
        overflow-y: auto;
        padding: 20px;
	}
	


@media (max-width: 780px) {
	
	.contentBlock {
        width: 100%;
    }

}

@media (min-width: 781px) {
  
}

@media (max-width: 550px) {
    .block-info, .block-method, .block-form, .block-footer, .block-paragraph {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@keyframes fadeIn {
	from { 
		opacity: 0;
	}

	to { 
		opacity: 1; 
	}
}

.bordersing { 
    border-radius: 10px; 
    margin-bottom: 15px;
	height: 220px;
    width: 100%;
	max-width: 380px; 
	margin: 0 auto;
    background-size: 110%;
	position: relative;
	-webkit-perspective: 1000;
    perspective: 1000;
}

.flipper {
	height: 100%;
	-webkit-transition: 1s;
	transition: 1s;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	position: relative;
  }

.flipper.flip .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper.flip .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 10px;
	height: 220px;
    width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    -webkit-transition: 1s;
    transition: 1s;
	border-radius: 10px;
    margin-bottom: 15px;
	padding: 18px;
	background-size: 110%;
}

.front {
	border-radius: 10px;
    background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 75%;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back {
	border-radius: 10px;
    background: url('../img/backgroundback.jpg')  no-repeat 50% 75% / cover;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
	display: flex;
	justify-content: flex-end;
}

.back .form-group{
	width: 20%;
}

.warning{
	position: absolute;
	border-radius: 8px;
	top: -10%;
	right: 5%;
	background-color: #c0c0c0;
	padding: 20px;
	z-index: 4;
	color: #000;
	visibility: hidden;
	opacity: 0;
	transition: opacity .7s;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
}

.warning::after{
	content: '';
	border-top: 10px solid #c0c0c0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	bottom: -46px;
}

.warning.active{
	visibility: visible;
	opacity: 1;
}
