
.chat_container{
    position: fixed;
    background-color: #fff;
    display: none;
    flex-direction: column;
    overflow-x: auto;
    overflow: hidden;
    z-index: 2147483500;
}

@media (max-width: 480px) {
    .chat_container{
    top: auto;
    right: 0px;
    bottom: 0px;
    left: auto;
    width: 100%;
    height: 100%;
    }
}

@media (min-width: 481px) {
    .chat_container{
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    width: 350px;
    height: 600px;
    -webkit-box-shadow: 0 5px 38px rgb(0 0 0 / 15%);
    box-shadow: 0 5px 38px rgb(0 0 0 / 15%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    }
}

.bottom-bar {
    display: flex;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

.bar {
    display: flex;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

.add-file-button {
    display: block;
    cursor: pointer;
}

.send-message-button {
    display: block;
    cursor: pointer;
}

.text-input {
    display: block;
    border: none;
    width: 100%;
    font-size: 12pt;
    margin-left: 4px;
    margin-right: 4px;
    color: #555555;
    clear: left;
    float: left;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.text-input:focus {
    outline: none !important;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 8px;
}

.message-container {
    height: 100%;
    flex-grow: 3;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.title-container {
    height: 45px;
}

.chat-title-container {
    padding: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    color: #454545;
}

.close-support-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
}

.support-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 76px;
    height: 76px;
    background-color: rgba(215, 237, 255, 2);
    border-radius: 50%;
    z-index: 2147483000;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    background-image: url(supportIcon.svg);
    background-position: center;
    background-size: 38px 38px;
    background-repeat: no-repeat;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.message {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    color: #454545;
    word-wrap: break-word;
    width: fit-content;
}

.message_from_tech_support {
    background-color: rgb(244, 250, 255);
    float: left;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #454545;
}

.message_from_client {
    background-color: rgb(215, 237, 255);
    float: right;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #3e3e3e;
    align-self: end;
}

.message_photo {
    width: 100%;
}