.support-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #3fa9f5;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 26.66L5 20L8.33 20C10.17 20 11.66 21.49 11.66 23.33L11.66 26.66C11.66 28.5 10.17 30 8.33 30C6.49 30 5 28.5 5 26.66ZM35 20L31.66 20C29.82 20 28.33 21.49 28.33 23.33L28.33 26.66C28.33 28.5 29.82 30 31.66 30C33.5 30 35 28.5 35 26.66L35 20Z' fill='none'/%3e%3cpath d='M35 20L31.66 20C29.82 20 28.33 21.49 28.33 23.33L28.33 26.66C28.33 28.5 29.82 30 31.66 30C33.5 30 35 28.5 35 26.66L35 20C35 11.71 28.28 5 20 5C11.71 5 5 11.71 5 20L5 26.66C5 28.5 6.49 30 8.33 30C10.17 30 11.66 28.5 11.66 26.66L11.66 23.33C11.66 21.49 10.17 20 8.33 20L5 20' stroke='%23ffffff' stroke-width='3' fill='none'/%3e%3cpath d='M33.5 23.35L33.5 21.83L36.5 21.83L36.5 23.35L33.5 23.35ZM23.35 36.49L21.83 36.49L21.83 33.49L23.35 33.49L23.35 36.49Z' fill='none'/%3e%3cpath d='M35 23.33L35 29.99C35 33.33 33.88 34.99 31.66 34.99C29.44 34.99 26.66 34.99 23.33 34.99' stroke='%23ffffff' stroke-width='3' stroke-linecap='square' fill='none'/%3e%3c/svg%3e");
  background-position: center;
  background-size: 54px 54px;
  background-repeat: no-repeat;
  box-shadow: 0 0px 15px rgba(63, 169, 245, 0.5);
  cursor: pointer;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.support-circle:hover {
  opacity: 0.8;
}

#chatra {
  position: fixed;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: auto;
  height: auto;
  min-height: 0;
  min-width: 0;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
#chatra.chatra--pos-right {
  right: 20px;
}
#chatra.chatra--side-bottom {
  bottom: 20px;
}
#chatra #chatra__iframe-wrapper,
#chatra.chatra--safari #chatra__iframe,
#chatra.chatra--webkit.chatra--expanded #chatra__iframe {
  border-radius: 12px;
}
#chatra.chatra--safari #chatra__iframe,
#chatra.chatra--webkit.chatra--expanded #chatra__iframe {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#000)
  );
  -webkit-mask-image: linear-gradient(#000, #000);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#000)
  );
  mask-image: linear-gradient(#000, #000);
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
#chatra__iframe-wrapper,
#chatra__iframe {
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  background: transparent !important;
  opacity: 1 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
#chatra.chatra--expanded #chatra__iframe-wrapper {
  -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 10%),
    0 5px 50px rgb(0 0 0 / 20%);
  box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 5px 50px rgb(0 0 0 / 20%);
}
#chatra #chatra__iframe-wrapper,
#chatra.chatra--safari #chatra__iframe,
#chatra.chatra--webkit.chatra--expanded #chatra__iframe {
  border-radius: 12px;
}

#chatra__iframe-wrapper {
  position: absolute;
  -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 30%);
  box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 30%);
  overflow: hidden !important;
}
#chatra__iframe-wrapper,
#chatra__iframe {
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  background: transparent !important;
  opacity: 1 !important;
  -webkit-transform: none !important;
  transform: none !important;
}