@media (max-width: 576px) {
    .mobilePaymentView {
        padding: 80px 10px 0 !important;
        margin: 0;
        width: 100% !important;
        height: 100vh !important;
        overscroll-behavior: contain;
    }

    .notice-modal .modal-dialog {
        max-width: 92% !important;
        margin: 30px auto;
    }
}

.modal-header .close img
{
    height:12px !important;
    width:12px !important;
}

    .modal-header .close img.menu-close {
        height: 40px !important;
        width: 40px !important;
        max-height: 30px;
        padding-left: 15px;
    }

/*.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}*/
.visuallyhidden {
    display: none;
}
/*--------------------------------------------------------------
#Pre Loader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    opacity: .5;
    background: #fff;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #e30613;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.toast {
    display: none;
    padding: 1.5rem;
    color: #fff;
    z-index: 1000;
    position: fixed;
    width: 25rem;
    top: 2rem;
    border-radius: 1rem;
    right: 10px;
    opacity: 1 !important;
}

.toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p {
        margin-bottom: 0;
    }

.toast-visible {
    display: flex;
    flex-direction: row;
    animation: fadein 5s;
}

input[type="checkbox"].dao-checkbox.no-pad + label::before {
    margin-left: -30px;
}

.pagination-controls
{
display:flex;
align-items:center;
}

.btn.fixed {
    position: fixed;
    right: 3rem;
    bottom: 6rem;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #E30613;
    border-radius: 100px;
    border: 2px solid #E30613;
}
    .btn.fixed:hover, .btn.fixed:focus {
        background-color: #fff;
        color: #E30613;
        border: 2px solid #E30613;
    }