#content-container {
  max-width: 1300px;
  padding: 4px 12px;
  padding-top: 0;
  margin: auto;
  position: relative;
}

.buysell-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 0px;
}

#col3-lmr-l {
  width: 270px;
  margin-top: 28px;
}

#col3-lmr-m {
  margin-left: 270px;
}

#col2-lm-l {
  width: 270px;
  margin-top: 4px;
}

#col2-lm-m {
  margin-left: 5px;
}

.inner-m2 .hboxr-c3-h,
#col2-lm-m .hboxr-c3-h,
#col3-lmr-m .hboxr-c3-h {
  margin-top: -1px;
  border-top-left-radius: 0;
}

.hbox-c3, .hbox2-c3, .hbox-c3-forum {
  padding-bottom: 12px;
}

.buysell-groups-list {
  column-count: 4;
  column-gap: 25px;
  column-rule: 1px solid #ddd;
}

@media (max-width: 1280px) {
  .buysell-groups-list {
    column-count: 3;
  }
}
.buysell-groups-list .group.break {
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari */
  page-break-inside: avoid;
  /* Theoretically FF 20+ */
  break-inside: avoid-column;
  /* IE 11 */
  display: block;
  width: 100%;
}

.buysell-groups-list h5 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 5px 0;
  line-height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.buysell-groups-list ul {
  margin-bottom: 22px;
}

.buysell-groups-list li {
  line-height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0 5px 0 5px;
  display: block;
  clear: right;
}

.buysell-groups-list .facet-count {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  float: right;
  margin-left: -10px;
  margin-top: 3px;
}

.buysell-groups-list.has0 .facet-count {
  text-indent: -2000px;
  opacity: 0;
}

.gbox-c3 {
  border-top-width: 0;
  padding: 0;
}

.gbox-c3-h {
  background-color: #c80000;
  height: 5px;
  border: solid 1px #777;
  border-width: 1px 0;
  margin-top: -1px;
}

.pb-tabs a span {
  min-width: 40px;
  text-align: center;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.saved-search-name {
  position: relative;
  background: #ccc;
  padding: 10px;
}
.saved-search-name span {
  font-weight: bold;
}
.saved-search-name .save-search {
  float: right;
  position: absolute;
  top: 7px;
  right: 10px;
}

.saved-searches {
  padding: 7px 7px 0;
  /* make clicking on a search super easy
      .searchname {
          position: relative;
      }
      .searchname-normal a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 7px 8px;
      }
      .searchname-normal a:hover {
          background-color: rgba(100,100,100,.05);
      }
  */
}
.saved-searches p {
  margin: 15px 0 0;
  text-align: center;
}
.saved-searches .searchname-normal {
  font-size: 1.1em;
  min-height: 26px;
}
.saved-searches .searchname-edit {
  display: none;
}
.saved-searches .show-form .searchname-edit {
  display: block;
}
.saved-searches .show-form .searchname-normal {
  display: none;
}

.sort-options {
  float: right;
  margin-right: 10px;
}
.sort-options a {
  margin-left: 3px;
}
.sort-options a.current {
  color: #000;
  font-weight: bold;
}
.sort-options .s {
  font-size: 0.95em;
}
.sort-options .l {
  font-size: 1.05em;
}

.inputrangefilter-price .max-container,
.inputrangefilter-price .min-container {
  position: relative;
}
.inputrangefilter-price .max-container input,
.inputrangefilter-price .min-container input {
  padding-left: 15px;
}
.inputrangefilter-price .max-prefix,
.inputrangefilter-price .min-prefix {
  position: absolute;
  left: 7px;
  top: 1px;
}

.modal-container {
  max-height: 80vh;
  overflow-y: auto;
}
.modal-container .checkboxfilter-category .filter-items {
  width: 955px;
  min-height: 555px;
  column-count: 4;
  column-gap: 25px;
  column-rule: 1px solid #ddd;
  column-fill: auto;
  overflow-y: auto;
}

.modal-container .checkboxfilter-framesize .filter-items {
  width: 900px;
  max-height: 545px;
  column-count: 6;
  column-gap: 15px;
  column-rule: 1px solid #ddd;
  column-fill: auto;
  overflow-y: auto;
}
.modal-container .checkboxfilter-framesize .filter-items .group {
  display: none;
}
.modal-container .checkboxfilter-framesize .filter-items .group.has-alias {
  display: block !important;
  width: 100%;
  -webkit-column-break-after: always;
  break-after: column;
}
.modal-container .checkboxfilter-framesize .group-alias .facet-count {
  display: none;
}

/* buysell view page */
#mobile_layout {
  background-color: #BCBEC0;
}

#inner-l {
  max-width: 820px;
}

.centertext {
  text-align: center;
}

#online-badge {
  background: green;
}

.buysell-title {
  background: none;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0;
  max-width: 1133px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.buysell-title2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.buysell-title3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.breadcrumb {
    margin-top: 25px;
    text-align: left;
    max-width: 1133px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.breadcrumb a {
  color: #000;
  line-height: 28px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:after {
    content: " \00BB \0020 ";
    padding: 0 5px;
}

.breadcrumb li.last:after {
    content: none;
}

.breadcrumb li a:active, .breadcrumb li a:hover {
    color: #069;
    outline: 0;
    text-decoration: underline;
}

.buysell-main-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  max-width: 1133px;
  margin: 0 auto;
  padding: 10px;
}

.buysell-container {
  background-color: #FFF;
  padding: 20px;
  font-size: 15px;
  color: #646464;
  max-width: 813px;
  box-sizing: border-box;
}

.buysell-container-left {
  grid-row: span 8;
}

.buysell-container-right {
  width: 300px;
  margin-left: 20px;
}

.buysell-container-right .buysell-container {
  margin-top: 20px;
}

.buysell-container-right .pb-button {
  display: inline-block;
  width: 32%;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  max-width: 820px;
  text-decoration: none;
}

.buysell-container-right .pb-button.blue, .buysell-container-right .pb-button.green {
  display: inline-block;
  width: 100%;
  max-width: 820px;
}

.buysell-container-right.buysell-edit {
  margin-bottom: 20px;
}

.buysell-container-right.buysell-edit, .buysell-container-right.buysell-price {
  margin-top: -20px;
}

.buysell-container-right.buysell-price {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.buysell-container-right.buysell-ad {
  margin-top: 20px;
}

.buysell-images-container {
  max-width: 813px;
}

.buysell-container.details {
  padding: 10px;
  margin-top: 18px;
}

.buysell-container.description {
  padding: 0 20px 20px;
  line-height: 22px;
  word-break: break-word;
}

.buysell-details-column {
  margin: 10px;
  line-height: 28px;
  flex-grow: 1;
}

@media only screen and (max-width: 480px) {
  .buysell-main-container {
    grid-template-columns: auto;
  }

  .buysell-details-column {
    flex-basis: 100%;
  }

  .buysell-details-column:not(:first-child) {
    margin-top: 18px;
  }

  .buysell-container-right {
    margin-left: 0;
    width: 100%;
  }

  .buysell-container-right.buysell-price {
    grid-row-start: 1;
  }

  .buysell-container.buysell-price {
    margin-bottom: 20px;
  }

  .buysell-container-left {
    grid-row-start: 2;
  }

  .buysell-container-right.buysell-edit {
    margin-top: 0;
    margin-bottom: 0;
    grid-row-start: 3;
  }

  .buysell-container-right.buysell-sendmessage {
    grid-row-start: 4;
  }

  .buysell-container-right.buysell-restrictions {
    grid-row-start: 5;
  }

  .buysell-container-right.buysell-actions {
    grid-row-start: 6;
  }

  .buysell-container-right.buysell-profileinfo {
    grid-row-start: 7;
  }

  .buysell-container-right.buysell-ad {
    grid-row-start: 8;
  }
}
/* buysell images viewer */
#buysell-fullimagebox {
  background-color: #000;
  text-align: center;
  color: #FFF;
  width: 100%;
  min-height: 80px;
}

#buysell-fullimagebox .pbmodalboxclosebtn {
  z-index: 997;
  right: 12px;
  top: 12px;
}

#buysell-fullimagebox .pbmodalboxprevbtn, #buysell-fullimagebox .pbmodalboxnextbtn {
  display: none;
  position: absolute;
  z-index: 996;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 13px;
}

#buysell-fullimagebox .pbmodalboxprevbtn {
  left: 12px;
  top: 50%;
}

#buysell-fullimagebox .pbmodalboxnextbtn {
  right: 12px;
  top: 50%;
}

#buysell-noimage {
  background-color: #000;
  max-width: 813px;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

#buysell-image {
  background: no-repeat center center #000;
  background-size: contain;
  width: 100%;
  max-width: 813px;
  padding-bottom: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  cursor: pointer;
}

#buysell-fullimage-loading {
  position: absolute;
  z-index: 994;
  width: calc(100% - 20px);
  top: 50%;
  color: #FFF;
  font-size: 15px;
}

#buysell-fullimage {
  display: inline-block;
  position: relative;
  z-index: 995;
  border: 0;
  vertical-align: bottom;
  max-width: 100%;
  max-height: calc(100vh - 120px);
  min-height: 80px;
}

#mobile_layout #buysell-fullimage {
  max-width: 100%;
  max-height: calc(100vh - 40px);
}

#buysell-thumbnailimages-container {
  margin: 0 -2px;
}

.buysell-thumbnailimage {
  display: inline-block;
  background: no-repeat center center #000;
  background-size: cover;
  width: 64px;
  height: 64px;
  margin: 2px;
  vertical-align: bottom;
  cursor: pointer;
}
.latlng-chooser-map-container {
  padding-bottom: unset!important;
}
.flex {
  display: flex;
  column-gap: 20px;
}
.flexwrap {
  flex-wrap: wrap;
}
.flex_evenspread {
  justify-content: space-between;
}
.flex .bsitem {
  width: 400px;
  margin: 0;
  padding: 0;
  border: none;
}
.gbox-c3-m .adunit {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

/*# sourceMappingURL=buysellnew.css.map */

/*# sourceMappingURL=buysellnew.css.map */
