@media screen and (max-width: 768px) {
    #content {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: normal;
        align-content: stretch;
    }
    #content #col2-lm-l {
        width: auto;
        margin-top: 0;
    }
    #content .hbox-c3-m {

    }
    #content #col2-lm-m {
        margin-left: 0;
        width: auto;
    }
    #content #inner-l {
        max-width: 100%;
    }
    #content .hboxr-c3-h {
        display: none;
    }
    #filterMobileSearch {
        display: block!important;
    }
    .buysellFilterToggle {
        display: block!important;
        margin: 10px;
    }
    .buysellFilterToggle.target-visible {
        background-color: #1C2E40!important;
        color: #ffffff;
        text-shadow: none;
        z-index: 99;
    }
    .buysell-groups-list li {
        margin-bottom: 10px!important;
    }
    .closeFilters {
        margin-top: 30px;
    }
    #filterInner {
        display: none;
        background-color: #ffffff;
        padding: 10px;
        padding-bottom: 20px;
    }
    #content ul {
        padding-left: 0;
    }
    .buysell-groups-list {
        column-count: 2!important;
        font-size: 110%;
        column-gap: 15px;
    }
    .buysell-groups-list ul {
        margin-bottom: 30px;
    }
    .buysell-groups-list li {
        margin-bottom: 20px;
    }
    .buysell-groups-list h5 {
        margin-bottom: 10px;
    }

    .hbox-c3 {
        padding-bottom: 0!important;
    }
    #content #inner-r .hbox-c3 {
        background-color: #ffffff;
        padding: 10px;
    }
    .pb-tabs {
        margin-bottom: 15px;
    }
    .pb-tabs ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }
    .pb-tabs li {
        display: inline-grid;
    }
    .pb-tabs a span {
        border-radius: 0!important;
    }
    .modal-container .checkboxfilter-framesize .filter-items {
        width: auto;
        max-width: 100%;
        column-count: 3;
    }
    .bsitem .bsitem-table {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding: 20px;
        background-color: #ededed;
        margin: 10px;
        border-radius: 8px;
    }
    .bsitem .bsitem-table td {
        padding-left: 0!important;
    }
    .bsitem .bsitem-table li {
        list-style: none;
    }
    .faceted-search li, .filter-items li {
        list-style: none;
        margin-bottom: 10px;
    }
    .bsitem-details td {
        padding-bottom: 10px;
    }
    .bsitem-details td:nth-last-child(-n+1) {
        padding-bottom: 0;
    }
    .bsitem-table td {
        width: 100%!important;
    }
    .bsitem-table .uImage img {
        width: 100%;
    }
    .bsitem-table .uImage {
        max-height: 250px;
        overflow-y: hidden;
    }
    .bssold {
        color: #ffffff;
        background-color: #cc0000;
        padding: 4px;
    }
    .buysell-ad .centertext > div {
        margin: 0 auto;
    }
    .latlng-chooser-map-container {
        padding-bottom: unset!important;
    }
    .itemdetail b {
        width: 100px;
    }
    .itemdetail b, .buysell-details-column b {
        min-width: 120px;
        display: inline-block;
    }
    .bsitem-description {
        display: none;
    }
    .bsitem-price {
        font-size: 140%;
        font-weight: bold;
    }
    .pb-tabs #current a span {
        padding: 6px 12px;
        margin-top: 0;
    }
    .pb-tabs a span {
        margin-top: 0;
        padding: 6px 12px;
    }
    .filter-items .group-alias label {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
    }
    .group-alias .checkbox {
        margin-top: 0;
    }

    .paging-container {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }
    .view-all-btn {
        margin-top: 10px;
    }
    .modal-container .checkboxfilter-category .filter-items {
        max-height: 555px;
    }
    .modal-container .checkboxfilter {
        padding-bottom: 30px;
    }
    .modal-container .checkboxfilter li {
        margin-bottom: 10px;
    }
    .modal-container .checkboxfilter .group {
        margin-bottom: 20px;
    }

    .paging-nav-c3 {
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background: #E8E8E8;
        border: 1px solid #999;
        color: #777777;
        cursor: default;
        margin: 6px 6px;
        padding: 8px 10px;
    }
    .paging-middle {
        display: flex;
        column-gap: 8px;
        font-size: 110%;
    }
    .paging-middle li:nth-child(n+6) {
        display: none;
    }
    .paging-nav-c3 li {
        display: inline;
        padding-left: 1px;
        padding-right: 1px;
    }
    .paging-date-left {
        margin-right: 14px;
    }
    .paging-date-right {
        margin-left: 14px;
    }
    .prev-page {
        margin-right: 6px;
    }
    .next-page {
        margin-left: 6px;
    }
    .paging-nav-c3 a, .paging-nav-c3 span { padding: 3px 6px; }
    .paging-nav-c3 a:hover { background: #AABED3; color: #EEE; }
    .current-page a, .current-page a:hover { background: #6B92BC; color: #EEE; }
    #content .pb-button {
        padding: 0.61em 1em;
        height: auto;
    }
    #content .saved-search-name {
        padding-bottom: 20px;
    }
    #content input.pb-text-input[type=text] {
        height: auto;
    }
    .filter-summaries .location-summary {
        min-height: 30px;
    }
    .send-message {
        display: block;
        margin-top: 10px;
    }
    .flag {
        zoom: 0.8;
    }
    .bsitem-title {
        margin-bottom: 10px!important;
    }
    .bsitem-modlinks {
        margin-bottom: 10px;
    }
    .pb-button.small {
        padding: 0 0.461535em!important;
    }
    .queryfilter h4 {
        display: none!important;
    }
    .queryfilter {
        padding: 0 10px;
        margin-bottom: 20px!important;
    }

    .button-on-mobile {
        border: 1px solid;
        border-color: #B9B9B9 #B9B9B9 #A0A0A0;
        background: #ebebeb;
        background-image: linear-gradient(top, #FDFDFD 0, #D8D8D8 100%);
        background-image: -o-linear-gradient(top, #FDFDFD 0, #D8D8D8 100%);
        background-image: -moz-linear-gradient(top, #FDFDFD 0, #D8D8D8 100%);
        background-image: -ms-linear-gradient(top, #FDFDFD 0, #D8D8D8 100%);
        background-image: -webkit-linear-gradient(top, #FDFDFD 0, #D8D8D8 100%);
        background-position: 0 0;
        border-radius: 0.37em;
        color: #222;
        display: inline-block;
        line-height: 1.5;
        white-space: nowrap;
        padding: 0.41em 1em;
        height: auto;
        text-shadow: 1px 1px 1px #eee;
        cursor: pointer;
        vertical-align: middle;
        box-sizing: border-box;
        box-shadow: none;
        transition: none;
        text-transform: none;
        margin: 0;
        text-align: center;
    }
    .button-on-mobile.red, .button-on-mobile.green, .button-on-mobile.grey, .button-on-mobile.blue {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        font-weight: normal;
    }

    .button-on-mobile.blue:hover {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
    }
    .button-on-mobile:hover {
        border-color: #CACACA #CACACA #B1B1B1;
        background: #f4f4f4;
        background-image: linear-gradient(top, #FEFEFE 0, #E9E9E9 100%);
        background-image: -o-linear-gradient(top, #FEFEFE 0, #E9E9E9 100%);
        background-image: -moz-linear-gradient(top, #FEFEFE 0, #E9E9E9 100%);
        background-image: -ms-linear-gradient(top, #FEFEFE 0, #E9E9E9 100%);
        background-image: -webkit-linear-gradient(top, #FEFEFE 0, #E9E9E9 100%);
        background-position: 0 0;
    }
    .button-on-mobile.blue, .buysell-main-container .pb-button.blue {
        background: #4069ba;
        background-image: linear-gradient(top, #5882d5 0, #28509f 100%);
        background-image: -o-linear-gradient(top, #5882d5 0, #28509f 100%);
        background-image: -moz-linear-gradient(top, #5882d5 0, #28509f 100%);
        background-image: -ms-linear-gradient(top, #5882d5 0, #28509f 100%);
        background-image: -webkit-linear-gradient(top, #5882d5 0, #28509f 100%);
        background-position: 0 0;
        border-color: #2a54a7 #2a54a7 #1e3b76;
    }
    .button-on-mobile.blue:hover, .buysell-main-container .pb-button.blue:hover {
        background: #28509f;
        background-image: linear-gradient(top, #3265c8 0, #1e3b76 100%);
        background-image: -o-linear-gradient(top, #3265c8 0, #1e3b76 100%);
        background-image: -moz-linear-gradient(top, #3265c8 0, #1e3b76 100%);
        background-image: -ms-linear-gradient(top, #3265c8 0, #1e3b76 100%);
        background-image: -webkit-linear-gradient(top, #3265c8 0, #1e3b76 100%);
        background-position: 0 0;
    }
    .bsitem .pb-link {
        color: #428bca;
    }

    .mobile-hide {
        display: none;
    }
    .filter-summary h1 {
        background: transparent;
        padding: 5px;
        line-height: 22px;
        font-size: 16px;
        color: revert;
    }
}