@charset "UTF-8";
.filter-search-loading-results {
  transition: opacity 250ms;
  opacity: 0.5;
}

.filter-search-has-results {
  transition: opacity 250ms;
  opacity: 1;
}

.faceted-search {
  padding: 2px 2px 0;
  margin-bottom: -5px;
}

.facet-filter {
  margin-bottom: 26px;
}
.facet-filter:last-of-type {
  margin-bottom: 0;
}
.facet-filter h4 {
  font-size: 12px;
  display: block;
  border: 1px solid #ddd;
  background-color: #eeeeee;
  margin: -7px -7px 7px;
  padding: 5px 11px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}
.facet-filter + .facet-filter h4 {
  border-top-width: 1px;
}
.facet-filter h4 .pb-button {
  float: right;
  margin-top: -3px;
  margin-right: -5px;
}
.facet-filter h5 {
  text-transform: uppercase;
  color: #777;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.44em;
  padding: 5px 4px 0;
  margin-top: 1px;
}
.facet-filter .range + .range {
  margin-top: 10px;
}

.facet-count {
  border-radius: 3px;
  line-height: 15px;
  color: #000;
  height: 14px;
  min-width: 20px;
  text-align: center;
  font-size: 11px;
  padding: 0 4px;
  box-sizing: border-box;
  display: inline-block;
  transition: opacity 250ms ease-in-out;
}
.facet-count.selected {
  background-color: #1C5890;
  color: #fff;
}
.facet-count.pb-loading {
  background-color: #eee;
  text-indent: -9000px;
}

.filter-summaries {
  margin: 0px 0px 15px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 8px 11px 7px;
}
.filter-summaries:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.filter-summaries .location-summary {
  font-size: 12px;
  background: #eee;
  box-sizing: border-box;
  line-height: 20px;
}
.filter-summaries .toggle-summaries {
  margin-top: 8px;
}
.filter-summaries h5 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px 2px 0;
  line-height: 12px;
}
.filter-summaries .save-search {
  float: right;
  margin-left: 5px;
}
.filter-summaries .reset-search {
  float: right;
  margin-left: 5px;
}

.filter-summary {
  background: #ddd;
  border-color: #555;
  border-radius: 3px;
  padding: 2px 6px;
  display: inline-block;
  line-height: 17px;
  margin-right: 0;
  margin-bottom: 4px;
}
.filter-summary .label {
  background: #ccc;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  padding: 2px 6px 2px 6px;
  margin: -3px 5px -3px -6px;
}

.toggle-summaries .filter-summary {
  background-color: #fff;
  color: #105CFF;
  background-color: #105CFF;
  background-color: #1C5890;
  color: #fff;
}
.toggle-summaries .filter-summary.removing {
  transition: opacity 250ms;
  opacity: 0;
}
.toggle-summaries .filter-summary .label {
  background: #143e65;
}
.toggle-summaries .filter-summary:after {
  color: #1C5890;
  background-color: #ddd;
  font-size: 9px;
  border-radius: 6px;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  position: relative;
  top: -1px;
}
.toggle-summaries .filter-summary:hover {
  cursor: pointer;
  background: #bbb;
}
.toggle-summaries .filter-summary:hover .label {
  background: #aaa;
  border-color: #555;
}
.toggle-summaries .filter-summary:hover:after {
  border-color: #555;
  color: #bbb;
}

.text-filter {
  margin: 8px 0 12px;
}

.filter-items .group-alias,
.filter-items li {
  transition: opacity 250ms ease-in-out;
}
.filter-items .group-alias label,
.filter-items li label {
  line-height: 23px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0 5px 0 5px;
  display: block;
}
.filter-items .group-alias label:hover,
.filter-items li label:hover {
  background: #eee;
  color: #000;
}
.filter-items .group-alias input,
.filter-items li input {
  vertical-align: top;
  margin-top: 5px;
}
.filter-items .group-alias .facet-count,
.filter-items li .facet-count {
  float: right;
  margin-left: -20px;
  margin-top: 5px;
}
.filter-items .group-alias.no-results,
.filter-items li.no-results {
  color: #bbb;
}
.filter-items .group-alias.no-results .facet-count,
.filter-items li.no-results .facet-count {
  text-indent: -2000px;
  opacity: 0;
}
.filter-items .group {
  display: block;
}
.filter-items .group.has-always-show, .filter-items .group.has-recent, .filter-items .group.has-selected {
  margin-bottom: 10px;
}
.filter-items .group.alias-selected {
  margin-bottom: 0;
}

.checkboxfilter.only-show-always-show .group, .checkboxfilter.use-view-all-btn .group {
  display: none;
}
.checkboxfilter.only-show-always-show li, .checkboxfilter.use-view-all-btn li {
  display: none;
}
.checkboxfilter.only-show-always-show .group.has-recent,
.checkboxfilter.only-show-always-show .group.has-selected,
.checkboxfilter.only-show-always-show .group.has-first,
.checkboxfilter.only-show-always-show .group.has-always-show, .checkboxfilter.use-view-all-btn .group.has-recent,
.checkboxfilter.use-view-all-btn .group.has-selected,
.checkboxfilter.use-view-all-btn .group.has-first,
.checkboxfilter.use-view-all-btn .group.has-always-show {
  display: block;
}
.checkboxfilter.only-show-always-show li.selected, .checkboxfilter.only-show-always-show li.first, .checkboxfilter.only-show-always-show li.always-show, .checkboxfilter.only-show-always-show li.recent, .checkboxfilter.use-view-all-btn li.selected, .checkboxfilter.use-view-all-btn li.first, .checkboxfilter.use-view-all-btn li.always-show, .checkboxfilter.use-view-all-btn li.recent {
  display: block;
}
.checkboxfilter.has-group-aliases .group.has-alias ul label {
  padding-left: 15px;
}
.checkboxfilter.hide-selected-groups .alias-selected ul {
  display: none;
}
.checkboxfilter.always-show-aliases .group {
  margin-bottom: 0px;
  display: block;
}
.checkboxfilter .view-all-btn {
  display: block;
  margin-bottom: 5px;
}

.modal-container .checkboxfilter {
  padding-bottom: 20px;
  position: relative;
}
.modal-container .checkboxfilter .view-all-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  left: 0;
}
.modal-container .checkboxfilter .show-more-btn {
  display: none;
}
.modal-container .checkboxfilter h4 {
  margin: -3px -3px 7px;
  border-width: 1px;
}
.modal-container .checkboxfilter h5 {
  color: #333;
}
.modal-container .checkboxfilter .group ul {
  display: block;
}
.modal-container .checkboxfilter .group {
  margin-bottom: 10px;
  display: block;
}
.modal-container .checkboxfilter li {
  display: block;
}
.modal-container .checkboxfilter .group-alias {
  font-weight: bold;
  color: #333;
}

.locationfilter {
  position: relative;
}

.type-toggle {
  text-align: center;
  margin-bottom: 10px;
}

.region-chooser {
  display: none;
}

.name-chooser {
  display: none;
}

.latlng-chooser {
  display: none;
}

.show-region .region-chooser {
  display: block;
}

.show-name .name-chooser {
  display: block;
}

.show-latlng .latlng-chooser {
  display: block;
}

.name-chooser table {
  margin: -3px 0 -3px 3px;
}

.name-chooser td {
  padding-bottom: 3px;
}

.name-chooser input {
  max-width: 150px;
}

.name-chooser select {
  width: 160px !important;
}

.current-position-btn {
  margin: 4px 6px;
}

.latlng-chooser-map-container {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.latlng-chooser-map {
  border: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.latlng-range {
  padding: 0 3px;
}

.latlng-range label {
  display: block;
  margin: 10px 0 5px;
  font-size: 0.9em;
}

.latlng-range input[type=range] {
  width: 100%;
}

.locationfilter .facet-count {
  float: right;
}

.inputrangefilter p {
  padding: 3px 1px 0;
}
.inputrangefilter .clear-btn {
  float: right;
}

/*# sourceMappingURL=faceted-search.css.map */

/*# sourceMappingURL=faceted-search.css.map */
