html,
body,
body #page-container,
body #page-container #wrapper,
body #page-container #wrapper > div,
body #page-container #wrapper > div > div,
body #page-container #wrapper > div > div > div,
body #wrapper,
body #wrapper > div,
body #wrapper > div > div
{
  height: 100%; 
}

@media screen and (max-width: 991px) {
  body #page-container #wrapper > div,
  body #page-container #wrapper > div > div,
  body #page-container #wrapper > div > div > div
   { height: unset; }
}

body {
  display:block!important;
  overflow: hidden;
  background-color: #FFF;
}

/*a messages ne jelenjenek meg*/
#messages {
	display:none!important;
}

@media screen and (max-width: 991px) {
  body {
    display:block!important;
    overflow-y: auto;
  }
}

.e-content {
  padding-bottom: 56px;
}

.e-iframe {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  border: none;
  min-height: 80vh;
}

.e-maintenanceMsg {
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 74px;
  padding: 0 40px;
  width: 50%;
}

@media screen and (max-width: 991px) {
	.e-maintenanceMsg {
		width: 100%;
	}
}

.e-maintenanceMsg h3 {
	padding-right: 15px!important;
}

.g-side-left {
  background-color: #FFF;
  height: 100%;
  width: 960px;
  float: left;
  padding: 0 40px;
  text-align: center;
  overflow-y: auto;
}

@media screen and (max-width: 1919px) {
  .g-side-left {
     width: 50%;
  }
}
	
@media screen and (max-width: 991px) {
  .g-side-left {
    width: 100%;
    overflow-y: unset;
  }
}
@media screen and (max-width: 557px) {
  .g-side-left {
    width: 100%;
    overflow-y: unset;
	padding: 0;
  }
}

.g-side-right {
  height: 100%;
  width: calc(100% - 960px);
  float: left;
}

@media screen and (max-width: 1919px) {
  .g-side-right {
     width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .g-side-right { display: none; }
}

.g-side-right > iframe {
  height: 100%;
  width: 100%;
  border: none;
}
	
/*----------- MAIN CARD -----------*/

#main-title {
    font-size: 28px;
    margin-bottom: 40px;
    padding: 0;
}

@media screen and (max-width: 991px) {
  #main-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 557px) {
  #main-title {
    font-size: 18px;
  }
}

#georgeLogo {
    height: 112px;
    width: 112px;
    margin-top: 60px;
    margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
	#georgeLogo {
		margin-top: 40px;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 557px) {
	#georgeLogo {
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

#main-card {
	width: 340px;
    margin: auto;
	margin-bottom: 56px;
}

@media screen and (max-width: 557px) {
  #main-card {
	width: unset;
	max-width: 340px;
    margin: auto;
	margin-bottom: 56px;
  }
}

#main-card-form {
  text-align: left;
  margin: auto;
  margin-bottom: 80px;
}

.form-group {
	margin-top: 20px!important;
}

/*----------- INPUT -----------*/
.e-input {
  padding-left: 28px!important;
}

.e-prepwrd-input {
  padding-left: 66px!important;
}

.e-input-icon {
  left: 20px;
  top: 8px;
  position: absolute;
  fill: #A3B5C9!important;
}

.pwd-prefix {
  left: 44px;
  top: 6px;
  position: absolute;
}

/*----------- INPUT ERROR -----------*/
.helper-text {
	display: none;
}

input[error] ~ .helper-text {
	display: block;
}

/*----------- toolbar - FLAG / back-----------*/

.eToolbar {
	height: 100px;
	padding-top: 34px;
}

@media screen and (max-width: 557px) {
	.eToolbar {
		height: 50px;
		padding-top: 14px;
	}
}

.eToolbar > #anonymousProcessReturn {
	line-height: 36px;
	float: left;
}

.eToolbar > #anonymousProcessReturn > svg {
    position: relative;
    top: 2px;
}

@media screen and (max-width: 991px) {
  .eToolbar > #anonymousProcessReturn > span { display: none; }
}

.flagDD {
	float: right;
}	

.flagDD > .dropdown-toggle, .flagDD > .dropdown-toggle:focus {
	border: none;
	box-shadow: none!important;
}

.flagDD > .dropdown-menu {
	min-width: 110px;
	float: right;
    left: auto;
    right: 0;
}

.e-result-svg {
	margin: 20px 0 10px 0;
}

/*----------- DROPDOWN -----------*/
.dropdown-menu {
    display: block!important;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0.6) translateY(-20px);
    transition: .1s ease all;
}

.open > .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: scaleY(1) translateY(0px);
  transition: .1s ease all;
}

.open > button > svg{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#lang-dropdown, #lang-dropdown:active, #lang-dropdown:hover, #lang-dropdown:focus {
	border: none;
	box-shadow: none;
	background-color: transparent;
	color: #445c75;
}


/*----------- FACEBOOK & GOOGLE -----------*/

.oath-a, .oath-a:hover, .oath-a:focus, .oath-a:active {
	text-decoration: none!important;
}

.facebook-btn {
	color: #3B5998!important;
    border-color: #3B5998!important;
}

.google-btn {
	color: #4285F4!important;
    border-color: #4285F4!important;
}

/*----------- TAB -----------*/

#storeTab {
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: .0625rem solid #ccd7e1;
}

#storeTab li {
  margin: 0 1.5rem 0 0;
  padding: unset;
}

#storeTab li::before {
  display: none;
}

#storeTab a {
  position: relative;
  padding: .5rem .125rem;
  border-radius: .25rem;
  color: #445c75;
  cursor: pointer;
  font-weight: 400;
}

#storeTab a:hover, #storeTab a:focus, #storeTab a:active {
	outline: none;
    color: #445c75;
    text-decoration: none;
}

#storeTab a::after {
    content: "";
    position: absolute;
    bottom: .3125rem;
    left: 0;
    width: 100%;
    height: .0625rem;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    transition: background .15s ease 0s,-webkit-transform .15s ease 0s;
    transition: background .15s ease 0s,transform .15s ease 0s;
    transition: background .15s ease 0s,transform .15s ease 0s,-webkit-transform .15s ease 0s;
    background: transparent;
}
	
#storeTab a:hover::after {
	    background: #445c75;
}

#storeTab .active a {
  font-weight: 600;
}

#storeTab .active a::after {
	-webkit-transform: scaleY(3);
    transform: scaleY(3);
    background: #445c75;
}

#storeTab .disabled span {
    padding: .5rem .125rem;
    color: #a8a8a8;
    cursor: not-allowed;
}

.eg-card {
	box-shadow: none!important;
	margin: 0!important;
}

.eg-card > .card-body {
	padding: 10px!important;
}

/****/

.e-reg-col-label {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	flex: unset;
	max-width: unset;
}

.e-reg-col-value {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	flex: unset;
	max-width: unset;
}

@media screen and (max-width: 991px) {
.e-reg-col-label {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	
    flex: 0 0 25%;
    max-width: 25%;
}


.e-reg-col-value {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	
	flex: 0 0 75%;
    max-width: 75%;

}
}

@media screen and (max-width: 767px) {
.e-reg-col-label {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	flex: unset;
	max-width: unset;
}

.e-reg-col-value {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	flex: unset;
	max-width: unset;
}
}


/*--*/
.card-cronto-content {
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

	/*transition: all 1.5s cubic-bezier(0.335, 0.010, 0.030, 1.360);*/
}

.card-cronto-content.down {
	max-height: 1500px;
	opacity: 1;
	visibility: visible;
}


/*----------- FOOTER -----------*/

footer {
  position: relative;
  width: 100%;
  height: 56px;
  bottom: 56px;
  background-color:#bce4fa;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  float: right;
  padding-right: 28px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  footer p {
    display: none;
  }
}

footer a {
  display: inline-block;
  color: #21416C;
  font-weight: 400;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  footer { float: left; }
}

.footerLogo {
  height: 28px;
  padding-left: 48px;
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  footer {
    justify-content: space-around;
  }
  .footerLogo { 
  padding-left: 0px;
  padding-right: 0px;
  }
}


/*CONSENT*/
.econsent-content {
	overflow-y: auto;
	padding-bottom: 40px;
}

.econsent {
	height: 70px;
	width: 100%;
	margin-bottom: 24px;
}
@media screen and (max-width: 557px) {
  .econsent {
    margin-bottom: 0px;
  }
}

.econsent > h1 {
	text-align: center;
	border: none!important;
}

#econsent-main-card {
	text-align: center;
	max-width: 740px;
    margin: auto;
}

#econsent-main-card > div {
	margin: 0px
}

@media screen and (max-width: 767px) {
  #econsent-main-card {
	width: 80%;
  }
}
  
@media screen and (max-width: 557px) {
  #econsent-main-card {
    width: 100%;
    margin: 0;
  }
}

.striped-list {
	padding: 0 20px;
}

.striped-list > div > dt {
	text-align: left;
}

.striped-list > div > dd {
	text-align: right;
}

.striped-list > div:nth-of-type(even) {
    background-color: #F4F6FA;
}

.striped-list > .row {
    padding-top: 8px;
}

#offToken {
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

	/*transition: all 1.5s cubic-bezier(0.335, 0.010, 0.030, 1.360);*/
}

#offToken.down {
	max-height: 1500px;
	opacity: 1;
	visibility: visible;
}
