@font-face {
  font-family: Wallie;
  src: url(Wallie-Skinny.woff2) format("woff2"),
    url(Wallie-Skinny.woff) format("woff"),
    url(Wallie-Skinny.ttf) format("truetype");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: Wallie;
  src: url(Wallie-Fit.woff2) format("woff2"),
    url(Wallie-Fit.woff) format("woff"), url(Wallie-Fit.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: Wallie;
  src: url(Wallie-Chunky.woff2) format("woff2"),
    url(Wallie-Chunky.woff) format("woff"),
    url(Wallie-Chunky.ttf) format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: Grenette;
  src: url(GrenettePro-Light.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: Grenette;
  src: url(GrenettePro-SemiBold.ttf) format("truetype");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: Grenette;
  src: url(GrenettePro-Black.ttf) format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: OCRAStd;
  src: url(OCRAStd.eot?#iefix) format("embedded-opentype"),
    url(OCRAStd.otf) format("opentype"), url(OCRAStd.woff) format("woff"),
    url(OCRAStd.ttf) format("truetype"), url(OCRAStd.svg#OCRAStd) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.modal-veil {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  background: 0 0;
}
.modal-veil.header-modal {
  top: 54px;
}
.veiled .modal-veil {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.is-veiled .modal-veil {
  background: rgba(37, 50, 56, 0.8);
}
@font-face {
  font-family: wallapop;
  src: url(wallapop-bd3f7d1ab5925bef852f870dd257294f.ttf?nkcoqn)
      format("truetype"),
    url(wallapop-43c97a08f21deb0e5df2cfbb8f750b8d.woff?nkcoqn) format("woff"),
    url(wallapop-bd2244183633404d47fd4ff3e8f25730.svg?nkcoqn#wallapop)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
[class*=" ico-"],
[class^="ico-"] {
  font-family: wallapop !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-stats-sales:before {
  content: "\e987";
  color: #90a4ae;
}
.ico-stats-shipping:before {
  content: "\e988";
  color: #90a4ae;
}
.ico-verification-phone:before {
  content: "\e989";
  color: #31c571;
}
.ico-pro-check:before {
  content: "\e982";
}
.ico-profile-clock:before {
  content: "\e983";
  color: #90a4ae;
}
.ico-profile-location:before {
  content: "\e984";
  color: #90a4ae;
}
.ico-profile-phone:before {
  content: "\e985";
  color: #13c1ac;
}
.ico-profile-web:before {
  content: "\e986";
  color: #13c1ac;
}
.ico-check:before {
  content: "\e981";
  color: #13c1ac;
}
.ico-pencil:before {
  content: "\e980";
  color: #607d8b;
}
.ico-credits:before {
  content: "\e97f";
}
.ico-apartment:before {
  content: "\e900";
  color: #90a4ae;
}
.ico-box_room:before {
  content: "\e903";
  color: #90a4ae;
}
.ico-buy:before {
  content: "\e904";
  color: #90a4ae;
}
.ico-elevator:before {
  content: "\e908";
  color: #90a4ae;
}
.ico-garage:before {
  content: "\e90b";
  color: #90a4ae;
}
.ico-garden:before {
  content: "\e919";
  color: #90a4ae;
}
.ico-house:before {
  content: "\e91b";
  color: #90a4ae;
}
.ico-land:before {
  content: "\e91c";
  color: #90a4ae;
}
.ico-mint:before {
  content: "\e91d";
  color: #90a4ae;
}
.ico-new_construction:before {
  content: "\e91e";
  color: #90a4ae;
}
.ico-office:before {
  content: "\e920";
  color: #90a4ae;
}
.ico-particulares:before {
  content: "\e921";
  color: #90a4ae;
}
.ico-pool:before {
  content: "\e922";
  color: #90a4ae;
}
.ico-real_estate:before {
  content: "\e923";
}
.ico-rent:before {
  content: "\e926";
  color: #90a4ae;
}
.ico-room:before {
  content: "\e928";
  color: #90a4ae;
}
.ico-terrace:before {
  content: "\e97c";
  color: #90a4ae;
}
.ico-to_reform:before {
  content: "\e97d";
  color: #90a4ae;
}
.ico-urgent:before {
  content: "\e97e";
  color: #90a4ae;
}
.ico-allcategories_stroke:before {
  content: "\e965";
}
.ico-category_AgricultureIndustrial_stroke:before {
  content: "\e966";
}
.ico-category_Appliances_stroke:before {
  content: "\e967";
}
.ico-category_BabiesChild_stroke:before {
  content: "\e969";
}
.ico-category_Bikes_stroke:before {
  content: "\e96a";
}
.ico-category_Cars_stroke:before {
  content: "\e96b";
}
.ico-category_CellPhonesAccessories_stroke:before {
  content: "\e96c";
}
.ico-category_CollectiblesArt_stroke:before {
  content: "\e96d";
}
.ico-category_ComputersElectronic_stroke:before {
  content: "\e96e";
}
.ico-category_Construction_stroke:before {
  content: "\e96f";
}
.ico-category_FashionAccessories_stroke:before {
  content: "\e970";
}
.ico-category_GamesBooks_stroke:before {
  content: "\e971";
}
.ico-category_GamesConsoles_stroke:before {
  content: "\e972";
}
.ico-category_HomeGarden_stroke:before {
  content: "\e973";
}
.ico-category_Jobs_stroke:before {
  content: "\e974";
}
.ico-category_MotorAccessories_stroke:before {
  content: "\e975";
}
.ico-category_Motorbike_stroke:before {
  content: "\e976";
}
.ico-category_Others_stroke:before {
  content: "\e977";
}
.ico-category_RealEstate_stroke:before {
  content: "\e978";
}
.ico-category_Services_stroke:before {
  content: "\e979";
}
.ico-category_SportsLeisure_stroke:before {
  content: "\e97a";
}
.ico-category_TVAudioCameras_stroke:before {
  content: "\e97b";
}
.ico-share_profile:before {
  content: "\e963";
  color: #78909c;
}
.ico-calendar:before {
  content: "\e960";
}
.ico-money_down:before {
  content: "\e961";
}
.ico-money_up:before {
  content: "\e962";
}
.ico-infinite:before {
  content: "\e95e";
}
.ico-urgentItems:before {
  content: "\e909";
}
.ico-logo-web:before {
  content: "\e953";
  color: #13c1ac;
}
.ico-warranty:before {
  content: "\e92a";
}
.ico-car_seats:before {
  content: "\e95d";
}
.ico-back_categories_mobile:before {
  content: "\e93b";
}
.ico-geo:before {
  content: "\e93c";
}
.ico-share:before {
  content: "\e93d";
}
.ico-glass:before {
  content: "\e93e";
}
.ico-arrow-waterfall:before {
  content: "\e941";
}
.ico-categories:before {
  content: "\e942";
}
.ico-home:before {
  content: "\e943";
}
.ico-messages:before {
  content: "\e944";
}
.ico-order:before {
  content: "\e945";
}
.ico-user:before {
  content: "\e946";
}
.ico-wall:before {
  content: "\e95f";
}
.ico-car_horsepower:before {
  content: "\e95c";
}
.ico-car_condition_1:before {
  content: "\e954";
}
.ico-car_condition_2:before {
  content: "\e955";
}
.ico-car_condition_3:before {
  content: "\e956";
}
.ico-car_doors_2:before {
  content: "\e957";
}
.ico-car_doors_3:before {
  content: "\e958";
}
.ico-car_doors_4:before {
  content: "\e959";
}
.ico-car_doors_5:before {
  content: "\e95a";
}
.ico-car_condition_0:before {
  content: "\e95b";
}
.ico-exchange:before {
  content: "\e92d";
}
.ico-shipping:before {
  content: "\e93a";
}
.ico-eye-categories:before {
  content: "\e92b";
}
.ico-car_bodytype_2:before {
  content: "\e92e";
}
.ico-car_bodytype_3:before {
  content: "\e92f";
}
.ico-car_bodytype_4:before {
  content: "\e930";
}
.ico-car_bodytype_5:before {
  content: "\e931";
}
.ico-car_bodytype_0:before {
  content: "\e932";
}
.ico-car_bodytype_1:before {
  content: "\e933";
}
.ico-car_bodytype_6:before {
  content: "\e934";
}
.ico-car_gearbox_0:before {
  content: "\e935";
}
.ico-car_gearbox_1:before {
  content: "\e936";
}
.ico-car_engine_1:before {
  content: "\e937";
}
.ico-car_engine_2:before {
  content: "\e938";
}
.ico-car_engine_0:before {
  content: "\e939";
}
.ico-face:before {
  content: "\e929";
}
.ico-arrow:before {
  content: "\e92c";
}
.ico-categories-desktop:before {
  content: "\e90a";
}
.ico-send-the-app:before {
  content: "\e90c";
}
.ico-google-play:before {
  content: "\e90d";
}
.ico-app-store:before {
  content: "\e90e";
}
.ico-logo-wallapop:before {
  content: "\e90f";
}
.ico-category_Others_new:before {
  content: "\e918";
}
.ico-search_normal:before {
  content: "\e907";
}
.ico-burger_menu:before {
  content: "\e902";
}
.ico-share_mail:before {
  content: "\e906";
}
.ico-icn_reserved:before {
  content: "\e93f";
  color: #385ef9;
}
.ico-ic-favorite_active:before {
  content: "\e940";
  color: #fd6c67;
}
.ico-ic-status:before {
  content: "\e947";
}
.ico-ic-power:before {
  content: "\e948";
}
.ico-ic-petrol:before {
  content: "\e949";
}
.ico-ic-doors:before {
  content: "\e94b";
}
.ico-ic-seats:before {
  content: "\e94c";
}
.ico-ic-car:before {
  content: "\e94d";
}
.ico-ic-manual-shift:before {
  content: "\e94e";
}
.ico-ic-price:before {
  content: "\e94f";
}
.ico-ic-shipping:before {
  content: "\e950";
}
.ico-ic-exchange:before {
  content: "\e951";
}
.ico-ic-wallapay:before {
  content: "\e952";
}
.ico-send_the_app:before {
  content: "\e62e";
}
.ico-arrow_menu_open:before {
  content: "\e602";
}
.ico-star_highlighted_web:before {
  content: "\e624";
}
.ico-twitter_normal:before {
  content: "\e626";
  color: #55acee;
}
.ico-share_messenger:before {
  content: "\e905";
  color: #0084ff;
}
.ico-facebook_normal:before {
  content: "\e615";
  color: #3b5998;
}
.ico-popularregions:before {
  content: "\e61e";
}
.ico-filter_price:before {
  content: "\e62b";
}
.ico-order_by:before {
  content: "\e62c";
}
.ico-plus_normal:before {
  content: "\e61c";
}
.ico-location_eye:before {
  content: "\e910";
}
.ico-location_blink:before {
  content: "\e916";
}
.ico-distance_grey_mobile:before {
  content: "\e613";
}
.ico-featured:before {
  content: "\e91a";
}
.ico-eye:before {
  content: "\e901";
}
.ico-coounter_favourites:before {
  content: "\e91f";
}
.ico-popularcities:before {
  content: "\e61d";
}
.ico-categories_normal:before {
  content: "\e604";
}
.ico-arrow_up:before {
  content: "\e924";
}
.ico-arrow_side:before {
  content: "\e925";
}
.ico-IconsCopy16:before {
  content: "\e927";
}
.ico-Geo-Pointer:before {
  content: "\e62d";
}
.ico-menuburguer:before {
  content: "\e603";
}
.ico-cross_white_normal:before {
  content: "\e612";
}
.ico-plus:before {
  content: "\e964";
}
.ico-ic-electric:before {
  content: "\e94a";
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:after,
[data-tooltip]:before {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-bottom: 4px;
  margin-left: -135px;
  margin-right: 20px;
  padding: 12px 20px 8px;
  width: auto;
  height: 34px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #253238;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.2;
  white-space: nowrap;
}
.main-header [data-tooltip]:before {
  top: 100%;
}
[data-tooltip]:after {
  position: absolute;
  top: 73%;
  left: 40%;
  margin-left: -5px;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #253238;
  content: " ";
  font-size: 0;
  line-height: 0;
}
.Search,
.Search__wrapper {
  width: 100%;
  display: flex;
}
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
.Search__wrapper {
  position: relative;
  align-items: center;
}
.Search__input-wrapper {
  position: relative;
  flex: 1;
}
.Search__icon,
.Search__reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Search__icon {
  left: 10px;
  width: 28px;
  height: 28px;
  z-index: 1;
}
.Search__icon path {
  fill: #90a4ae;
}
.Search__reset {
  width: 20px;
  height: 20px;
  right: 15px;
  background-image: url(/images/icons/search-reset.svg);
  background-size: contain;
  border: 0;
  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: 0;
  display: none;
}
.Search__button,
.Search__input {
  width: 100%;
  appearance: none;
  outline: 0;
  font-size: 1rem;
}
.Search__input {
  height: calc(20px * 2);
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid #90a4ae;
  position: relative;
  color: #253238;
  padding: 0 32px 0 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.1s linear;
}
.Search__input ~ .Search__icon,
.Search__suggestion {
  transition: all 0.15s linear;
}
.Search__input::placeholder {
  color: #90a4ae;
  font-size: 1rem;
}
.Search__input:focus,
.Search__input:hover,
.Search__input:not(:placeholder-shown) {
  border: 2px solid #253238;
  padding-left: calc(44px - 1px);
}
.Search__input:focus,
.Search__input:not(:focus):not(:placeholder-shown) {
  padding-left: 12px;
}
.Search__input:focus ~ .Search__icon,
.Search__input:not(:focus):not(:placeholder-shown) ~ .Search__icon {
  display: none;
}
.Search__input:not(:focus):not(:placeholder-shown) {
  border: 1px solid #90a4ae;
  padding-left: 13px;
}
.Search__input:not(:placeholder-shown) {
  padding-right: 44px;
}
.Search__input:not(:placeholder-shown) ~ .Search__reset {
  display: block;
}
.Search__button-wrapper {
  flex-basis: 300px;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 13px;
}
@supports (padding: max(0px)) {
  .Search__button-wrapper {
    padding-bottom: max(13px, env(safe-area-inset-bottom));
  }
}
@media (min-width: 992px) {
  .Search__button-wrapper {
    position: relative;
    height: initial;
    padding: 0;
    margin-left: 30px;
  }
}
.Search__button {
  border: 0;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #13c1ac;
  color: #fff;
  border-radius: 29px;
}
.Search__button:hover {
  background: rgba(19, 193, 172, 0.7);
  color: #fff;
}
.Search__button-icon {
  padding-right: 16px;
  width: 38px;
}
.Search__suggester {
  position: absolute;
  top: calc((106px / 2) + (42px / 2) + 3px);
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(37, 50, 56, 0.05);
  z-index: 25;
}
@media (max-width: 768px) {
  .Search__suggester {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }
}
.Search__suggestion {
  cursor: pointer;
  background-color: transparent;
  color: #253238;
  border-bottom: 1px solid #eceff1;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 57px;
}
.Search__suggestion--active,
.Search__suggestion--selected,
.Search__suggestion:hover {
  background-color: #eceff1;
}
.Search__suggestion-title {
  font-size: 1rem;
  color: #13c1ac;
}
.Search__suggestion-title--highlighted {
  font-weight: 700;
  font-size: 15.75px;
}
.Search__suggestion-category {
  font-size: 0.875rem;
  color: #607d8b;
  margin-top: 8px;
}
.Search__button-submit {
  display: none;
}
.Search__button-submit:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .Search__button-submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding: 12px 24px;
    margin-left: 8px;
    background-color: #13c1ac;
    font-family: Wallie;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
  }
}
.seo-header__content .Search__wrapper {
  flex-direction: column;
}
.seo-header__content .Search__wrapper .Search__input-wrapper {
  width: 100%;
}
.seo-header__content .Search__wrapper .RecentSearches,
.seo-header__content .Search__wrapper .Search__suggester {
  position: absolute;
  top: calc(42px + 12px);
  bottom: unset;
  left: -10px;
  right: 0;
  width: 100vw;
  height: auto;
}
@media (min-width: 992px) {
  .seo-header__content .Search__wrapper .RecentSearches,
  .seo-header__content .Search__wrapper .Search__suggester {
    position: absolute;
    margin-top: 0;
    width: 100%;
    top: 42px;
    left: 0;
    height: auto;
  }
}
.RecentSearches {
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #cfd8dc;
  overflow: hidden;
  position: absolute;
  top: calc((106px / 2) + (42px / 2) + 3px);
  width: 100%;
  height: 428px;
  z-index: 25;
}
@media (max-width: 991.98px) {
  .RecentSearches {
    position: fixed;
    left: 0;
    top: 66px;
    bottom: 0;
    height: calc(100vh - 66px);
  }
}
.RecentSearches__heading {
  font-weight: 700;
  height: 24px;
}
.RecentSearches__button {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  color: #13c1ac;
  cursor: pointer;
}
.RecentSearches__button:hover {
  text-decoration: underline;
}
.RecentSearches__option {
  background-color: #fff;
  padding: 1rem;
}
.RecentSearches__option:not(:last-child) {
  border-bottom: 1px solid #cfd8dc;
}
.RecentSearches__option:hover {
  background-color: #eceff1;
  cursor: pointer;
}
.RecentSearches__option--selected {
  background-color: #eceff1;
}
.RecentSearchesOption__info {
  flex: 1;
  overflow: hidden;
}
.RecentSearchesOption__text {
  width: 100%;
  height: 40px;
}
.RecentSearchesOption__text__title {
  padding-right: 40px;
  color: #253238;
  font-size: 1rem;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.RecentSearchesOption__text__subtitle {
  color: #607d8b;
  font-size: 0.75rem;
}
.RecentSearchesOption__button {
  background: 0 0;
  border: none;
  cursor: pointer;
}
.Toast {
  z-index: 999999;
  position: fixed;
  top: 12px;
  right: 12px;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  -moz-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 300px;
  text-align: center;
  line-height: initial;
}
.Toast:hover {
  -moz-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
}
.Toast--error {
  background-color: #fd6c67;
}
