body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #2f3542;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #2f3542;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00B1E3;
}

body {
    font-family: 'Fira Sans' !important;
    color: #fff !important;
    background: #181926 url('../images/mainBg.png') no-repeat;
    position: relative;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: 0 !important;
}

.btn:focus {
    shadow: none !important;
}

.swiper-button-next {
    color: #fff;
}

.swiper-button-prev {
    color: #fff;
}

.swiper-button-next:focus {
    outline: 0 !important;
}

.swiper-button-prev:focus {
    outline: 0 !important;
}

.swiper-button-prev.swiper-button-disabled {
    color: #fff;
}

.swiper-button-next.swiper-button-disabled {
    color: #fff;
}

.swiper-button-next::after {
    content: none;
}

.swiper-button-prev::after {
    content: none;
}

.swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.mainTitle {
    font-size: 67px;
}

.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
}

.header1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header1-top{
    padding-top: 20px;
}
.header1-top_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header1-top-left{
    display: flex;
    align-items: center;
}
.header1-top-logo{
    margin-right: 60px;
    position: relative;
}
.header1-top-btns{
    display: flex;
    align-items: center;
}
.header1-top-btns-item-link{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    height: 38px;
}
.header1-top-btns-cashback>a{
    background: rgb(254,117,109);
    background: linear-gradient(90deg, rgba(254,117,109,1) 0%, rgba(254,208,32,1) 100%);
    box-shadow: 5px 5px 25px rgba(227,61,0,0.31);
    padding: 0 120px 0 14px;
}
.header1-top-btns-market>a{
    background: rgb(58,138,246);
    background: linear-gradient(90deg, rgba(58,138,246,1) 0%, rgba(95,228,255,1) 100%);
    box-shadow: 5px 5px 25px rgba(0,177,227,0.12);
    padding: 0 90px 0 14px;
}
.header1-top-btns-sale>a{
    background: rgb(152,58,246);
    background: linear-gradient(90deg, rgba(152,58,246,1) 0%, rgba(132,95,255,1) 100%);
    box-shadow: 5px 5px 25px rgba(0,177,227,0.12);
    padding: 0 105px 0 14px;
}
.header1-top-btns-item-img{
    position: absolute;
    right: 0;
}
.header1-top-btns-sale>a>.header1-top-btns-item-img{
    right: 10px;
}
.header1-top-btns-item-name{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.header1-top-btns-item{
    margin-right: 30px;
}
.header1-top-right{
    display: flex;
    align-items: center;
}
.header1-top-call{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
.header1-top-call-text{
    color: rgba(255,255,255,0.69);
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
}
.header1-top-call-link{
    font-size: 20px;
    color: #fff;
    line-height: 100%;
}
.header1-top-lang{
    margin-right: 20px;
}
.header1-top-lang>ul>li:last-child{
    padding-right: 0;
}
.header1-top-search{
    margin-right: 10px;
}
.header1-top-search>button{
    padding: 0;
    background: none;
    border: 0;
}
.header1-top-login{
    margin-right: 30px;
}
.header1-top-login>button{
    padding: 0;
    background: none;
    border: 0;
}
.header1-top-burger-button{
    height: 12px;
    width: 30px;
    cursor: pointer;
    z-index: 5;
    position: relative;
    background: url(../images/burger1.svg) no-repeat;
    background-size: auto;
    background-position: center;
}
.header1-top-burger-button{
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 5;
    position: relative;
    background: url(../images/burger1.svg) no-repeat;
    background-size: auto;
    background-position: center;
}
.header1-top-burger-button.active{
    background: url(../images/close1.png) no-repeat;
    background-position: center;
    background-size: 24px;
}
.header1-top-burger-button-box{
    width: 50%;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.48);
    border-radius: 10px;
    padding: 50px;
    z-index: 5;
}
.header1-top-burger-button-box::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(255,255,255,0.04);
    border-radius: 10px;
}
.header1-top-burger-button-box-nav{
    display: flex;
    flex-direction: column;
}
.header1-top-burger-button-box-nav>a{
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    border-right: 1px solid transparent;
}
.header1-top-burger-button-box-nav>a.active{
    color: #00b1e3;
    border-right: 1px solid #00b1e3;
}
.header1-top-burger-button-box-body>ul>li{
    line-height: 30px;
    margin-bottom: 10px;
}
.header1-top-burger-button-box-body>ul>li:last-child{
    margin-bottom: 0;
}
.header1-top-burger-button-box-body>ul>li>a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.header1-top-burger-button-box-body>ul>li>a:hover{
    color: #00b1e3;
}

.header1-btns-layout{
    display: none;
    margin-top: 15px;
}

.footer {
    padding: 50px 0 0;
    background: #141521;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.48);
}

.footerWidgetTitle {
    margin-bottom: 35px;
}

.footerWidgetTitle>img {
    height: 60px;
}

.footerWidgetCall>h4 {
    color: #848484;
    font-size: 14px;
    margin-bottom: 0;
}

.footerWidgetCall>a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}

.footerWidgetContact {
    margin-top: 20px;
}

.footerWidgetContact>h4 {
    color: #848484;
    font-size: 14px;
    margin-bottom: 0;
}

.footer_contact>a {
    color: #67CEEB;
    font-size: 16px;
    transition: 0.5s;
}

.footerWidgetDss {
    height: 50px;
    margin: 20px 0;
}

.footerWidgetContent>ul>li {
    margin-bottom: 15px;
}

.footerWidgetContent>ul>li>a {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    transition: 0.5s;
}

.footerWidgetContent>ul>li>a:hover {
    color: #00B1E3;
    transition: 0.5s;
}

.footerWidgetDownload>h4 {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 20px;
}

.footerWidgetDownloadItem {
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.footerWidgetDownloadItem:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.footerWidgetDownloadLink>img {
    height: 45px;
    width: auto;
}

.footerBottom {
    padding-top: 50px;
    display: flex;
    padding-bottom: 20px;
}

.footerBottomBox {
    display: flex;
    justify-content: space-between;
}

.footerBottomBoxSocList {
    display: flex;
}

.footerBottomBoxSocList>li {
    padding-right: 20px;
}

.footerBottomBoxSocListItem {
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.footerBottomBoxSocListItem:hover {
    color: #00B1E3;
    transition: 0.5s;
}

.footerBottomBoxSocListItem>i {
    margin-right: 5px;
}

.footerBottomBoxText>p {
    font-size: 15px;
    margin-bottom: 0;
}

.mainHeaderFlexTopLogo {
    position: relative;
}

.mainHeaderFlexTopLogoMouse {
    position: absolute;
    background: #fff;
    z-index: 5;
    border-radius: 10px;
    padding: 12px 35px 12px 15px;
    min-width: 185px;
    left: 50px;
    top: 26px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.mainHeaderFlexTopLogoMouseLinks>a {
    line-height: 100%;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin: 8px 0;
}

.mainHeaderFlexTopLogoMouseLinks>a:hover {
    color: #00b1e3;
    opacity: 0.8;
}

.sec1{
    background: #2F3040;
    box-shadow: 3px 5px 12px rgba(0,0,0,0.07);
}
.sec1-header{
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.sec1-header>h5{
    color: #fff;
}
.sec1-header>button{
    border: 0;
    background: none;
    padding: 0;
}
.sec1-header>button:focus{
    outline: 0 !important;
}
.sec1-body>p{
    color: #fff;
}
.sec1-body>p>a{
    color: #00b1e3;
}
.sec1-footer{
    border-top: 1px solid rgba(255,255,255,0.1);
}
.sec1-footer>button{
    width: 100%;
    background: #DF3F3F;
    border: 0;
    padding: 12px 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}
.sec1-footer>button:focus{
    outline: 0 !important;
}
@media screen and (max-width:1800px) {
    .header1-top-logo{
        margin-right: 40px;
    }
    .header1-top-btns-item{
        margin-right: 20px;
    }
    .header1-top-login{
        margin-right: 20px;
    }
    .mainHeaderFlexTopMenuLang > ul > li{
        padding: 0 8px 0 0;
    }
    .header1-top-call-link{
        font-size: 18px;
    }
    .header1-top-login{
        margin-right: 20px;
    }
}
@media screen and (max-width:1400px){
    .header1-top-call{
        position: absolute;
        top: 110%;
        right: 0;
    }
    .header1-top-btns-cashback>a{
        padding-right: 110px;
    }
    .header1-top-btns-item-img {
        position: absolute;
        right: 0;
        height: 60px;
    }
    .header1-top-btns-market>a{
        padding-right: 75px;
    }
    .header1-top-btns-market>a>.header1-top-btns-item-img{
        height: 70px;
    }
    .header1-top-btns-sale{
        margin-right: 0;
    }
    .header1-top-btns-item-link{
        padding-right: 90px;
    }
}
@media screen and (max-width:1199px) {
    .header1-top-logo{
        margin-right: 20px;
    }
    .mainHeaderFlexTopLogoLinkImage{
        height: 45px;
    }
    .header1-top-btns-item{
        margin-right: 0;
    }
    .header1-top-btns-cashback>a{
        padding: 0 110px 0 14px;
    }
    .header1-top-btns-market>a{
        padding: 0 80px 0 14px;
    }
    .header1-top-btns-sale>a{
        padding: 0 80px 0 14px;
    }
    .header1-top-btns-item-name{
        font-size: 16px;
    }
    .header1-top-call-link{
        font-size: 18px;
    }
    .header1-top-login{
        margin-right: 15px;
    }
    .header1-top-search>button>img, .header1-top-login>button>img{
        height: 38px;
    }
    .header1-btns-layout{
        display: block;
    }
    .header1-top-left > .header1-top-btns{
        display: none;
    }
    .header1-top-btn-home{
        display: block !important;
    }
    .header1-top-btns-cashback, .header1-top-btns-market{
        margin-bottom: 20px;
    }
    .header1-top-btn-home .header1-top-btns-cashback, .header1-top-btn-home .header1-top-btns-market {
        margin-bottom: 20px;
    }
    .header1-top-btns{
        margin-right: 0;
        position: absolute;
        top: calc(100% + 10px);
        width: calc(100% - 30px);
        left: 15px;
    }
    .header1-top-btns-item{
        width: 100%;
    }
    .header1-top-btns-item:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width:992px){
    .mainHeaderFlexCenter{
        padding: 100px 0 50px;
    }
    .evo-text,.evo-img{
        margin-left: 0;
    }
    .header1-top_container{
        position: relative;
    }
    .header1-top-logo{
        margin-right: 10px;
    }
    .mainHeaderFlexTopLogoLinkImage{
        height: 40px;
    }
    .header1-top-lang{
        margin-right: 15px;
    }
    .header1-top-call{
        display: none;
    }
    .header1-top-search{
        display: none;
    }
    .header1-top-login{
        display: none;
    }
    .header1-top-burger-button-box{
        width: calc(100% - 30px);
        left: 15px;
        top: calc(100% + 5px);
        padding: 15px 30px;
    }
    .header1-top-burger-button-box-nav>a{
        line-height: 40px;
        border-right: none;
        border-bottom: 2px solid transparent;
    }
    .header1-top-burger-button-box-nav>a.active{
        border-right: none;
        border-bottom: 2px solid #00b1e3;
    }
    .header1{
        height: auto;
    }
}
@media screen and (max-width:435px) {
    .header1-top-btns{
        flex-direction: column;
    }
    .header1-top-btns-item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .header1-top-btns-item:last-child{
        margin-bottom: 0;
    }
    .header1-top-burger-button-box{
        padding: 20px 30px;
        top: calc(100% + 10px);
    }
    .header1-top-burger-button-box::before{
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        background-color: rgba(255,255,255,0.05);
    }
}