.logo img{
    height: 70px;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    content: 'none';
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: 'none';
}
.ytp-title-channel-logo{
    display: none !important;
}
.ytp-title-link.yt-uix-sessionlink{
    display: none !important;
}
button.ytp-button.ytp-share-button.ytp-share-button-visible.ytp-show-share-title{
    display: none !important;
}
.ytp-watermark.yt-uix-sessionlink{
    display: none !important;
}
.ytp-title{
    display: none !important;
}
.ytp-autohide .ytp-watermark{
    display: none !important;
}
.ytp-chrome-top-buttons{
    display: none !important;
}
.headerCenterText > h4{
    font-size: 50px;
    font-weight: 100;
    color: #00B1E3;
}

.headerCenterText > h3{
    font-size: 67px;
    font-weight: 700;
    margin-top: 20px;
}

.headerCenterText > a{
    color: #00B1E3;
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px dashed #00B1E3;
    font-size: 20px;
}

.headerCenterCarts{
    margin-left: -25px;
    text-align: left;
    position: relative;
    margin-top: 12%;
}
.siteabout_title{
    line-height: 60px;
    font-weight: 800;
}
.siteabout_line{
    border-color: #fff;
    opacity: 0.4;
    width: 120%;
    margin-left: -25%;
}
.siteabout_description{
    font-weight: 100;
}
.siteabout_download{
    padding-top: 35px;
}
.siteabout_link{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.siteabout_link:hover{
    color: #fff;
}
.sitescreen span{
    display: block;
    text-align: left;
    top: -30%;
    right: -13%;
    line-height: 2.4rem;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5rem;
}
.sitescreen img{
    position: absolute;
    image-rendering: crisp-edges;
}
@media (min-width: 1368px) and (max-width: 1800px){
    .sitescreen_img1{
        top: -45%;
        right: 25%;
        width: 40% ;
    }
    .sitescreen_img2 {
        top: -95px;
        right: 45%;
        width: 35% ;
    }
    .sitescreen_img3 {
        width: 35% ;
        top: -95px;
        right: 10%;
    }
}
@media (min-width: 1800px){
    .sitescreen_img1 {
        top: -80%;
        width: 40%;
        right: 25%;
    }
    .sitescreen_img2 {
        top: -70%;
        right: 45%;
        width: 35%;
    }
    .sitescreen_img3 {
        top: -70%;
        width: 35%;
        right: 10%;
    }
}
@media (max-width: 1367px){
    .sitescreen_img1{
        width: 40%;
        right: 25%;
        top: -35%;
    }
    .sitescreen_img2 {
        width: 35%;
        top: -25%;
        right: 45%;
    }
    .sitescreen_img3 {
        width: 35%;
        top: -25%;
        right: 10%;
    }
}
.header-bottom {
    margin-bottom: 10px;
}
.soc_item{
    margin-right: 15px;
    display: inline-block;
}
.soc_link{
    color: #fff;
    transition: 0.5s;
    font-weight: 300;
}
.soc_link:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.soc_link i{
    margin-right: 5px;
    font-size: 20px;
}
.soc_link span{
    font-size: 13px;
}
.linedown{
    text-align: center;
    margin-top: -20px;
}
.down_img{
    margin-top: -45px;
    animation: arrow-7 2s infinite;
    cursor: pointer;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(0deg) translate(0px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(0deg) translate(0px,20px);
    }
}
.lang_item{
    display: inline-block;
    padding: 0 10px 0 5px;
}
.lang_item:first-child{
    border-right: 1px solid #fff;
}
.lang_link{
    transition: 0.4s;
    font-weight: 300;
    color: #fff;
}
.lang_link:hover{
    color: #00B1E3;
}
.lang_link.active{
    color: #00B1E3;
}
.about .title{
    margin-bottom: 50px;
    font-size: 65px;
}
.about .author {
    margin: 40px 0;
}
.about .author span {
    color: #00B1E3;
    font-size: 30px;
}
.about .download_item{
    margin: 0 0;
    padding: 10px 0 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.about .download_item:hover{
    opacity: 0.7;
    transition: 0.5s;
}
@media(min-width:767px){
    .about .download_item{
        margin-right: 20px;
    }
}
.about .download_link img {
    height: 50px;
}
.services_image{
    padding-left: 50px;
}
.services_image img{
    width: 100%;
}
.services_text{
    height: 100%;
    padding-right: 50px;
}
.services_text p{
    font-size: 20px;
    font-weight: 300;
}
.services_text button{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    width: fit-content;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.services_text button:hover{
    color: #000207;
    background: #fff;
    transition: 0.5s;
}
.features {
    padding: 0 0 80px;
}
.features_title h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}
.features_title p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}
.features_block {
    background: rgba(9,14,28, 0.78);
    padding: 20px 40px 60px;
    cursor: pointer;
    transition: 0.5s;
}

.features_block:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}
.features_block img {
    height: 100px;
}
.features_block h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}
.features_block p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}
.category-title{
    text-align: center;
    padding-bottom: 20px;
}
.category-title a{
    border-bottom: 0.5px solid #67CEEB;
    color: #67CEEB;
    transition: 0.5s;
    font-size: 20px;
}
.category-title a:hover{
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}
.category .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.category .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category .swiper-slide span{
    margin: 20px 0 20px;
}
.cat-slide.swiper-slide-active:before{
    content: '';
    width: 25px;
    height: 70px;
    background: url(../images/header/icon/arrow.png);
    position: absolute;
    bottom: -40px;
}
.pay .swiper-container {
    width: 100%;
    height: 100%;
}
.pay .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #ddd;
}
.pay-item {
    background: rgba(9,14,28, 0.78);
    height: 190px;
    border-radius: 5px;
    padding: 40px 40px 25px;
    flex-direction: column;
    cursor: pointer;
}
.pay-item img{
    width: auto;
    margin-bottom: 10px;
    border-radius: 12px;
}
.pay    -item span{
    line-height: 18px;
}
.video{
    position: relative;
}
.video_img{
    cursor: pointer;
    background: url(../images/video/video.jpg) 100% no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    border: 50px solid #181926;
    transition: 0.5s;
}
.video_img:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.video_images {
    width: 100%;
}

.video_text h3{
    font-size: 50px;
    margin-bottom: 0;
    color: #fff;
}
.video_text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}
.video_icon{
    margin-bottom: 65px;
    margin-right: 20px;
    margin-left: 20px;
}
.news_title {
    margin-bottom: 50px;
}
.news_title .link {
    border-bottom: 0.5px solid #67CEEB;
    color: #67CEEB;
    transition: 0.5s;
    font-size: 20px;
}
.news_title .link:hover{
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}
.news_block {
    padding: 30px 25px 30px;
    border-radius: 15px;
    transition: 0.5s;
}
.news_block:hover {
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    transition: 0.5s;
}
.news_block h4 {
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00B1E3;
}
.news_block h4 a {
    color: #00B1E3;
}
.news_block p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.news_block_img img{
    width: 100%;
}
.news_date {
    margin: 30px 0 15px;
}
.news_date span {
    font-size: 11px;
    font-weight: 600;
    color: #B3B3B5;
}
.news .swiper-pagination {
    bottom: -5px;
}
.read_more a {
    color: #00B1E3;
    font-size: 15px;
}
.modal-header_img img {
    width: 100px;
}
.modal_pay{
    color: #000 !important;
}
.pay_button{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #00B1E3;
    border: 1px solid #00B1E3;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pay_button:hover{
    background: #0090B8;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal__pay{
    color: #000;
}
.modal__header{
    text-align: center;
    margin-bottom: 10px;
}
.full-width label{
    font-size: 15px;
    font-weight: 400;
}
.custom-modal{
    color: #000;
}
.custom-modal .border-wrapper {
    border-bottom: 0;
    border-radius: 0;
    margin: 9px 0 0;
}
.payment-modal__wrapper label {
    display: block;
    color: #000207;
    margin: 0;
}
.postlinks_service{
    color: #00B1E3;
}
.postlinks_service:hover{
    color: #00B1E3;
}
.pay-button{
    background: #00B1E3;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
}
@media (min-width: 640px){
.phone-wrapper .phone-code {
    font-size: 20px;
    line-height: 29px;
    padding: 0 20px;
}
}
.phone-wrapper .phone-code {
    font-size: 22px;
    color: #00B1E3;
    line-height: 43px;
    height: 45px;
    font-weight: 300;
}
@media (min-width: 640px){
.phone-wrapper .phone-number, .border-wrapper .input-text {
    height: 49px;
    padding: 0 20px 0 35px;
    font-size: 17px;
}
}
.phone-wrapper .phone-number, .border-wrapper .input-text {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-bottom: 1px solid #B6B6B6;
    padding: 0;
    color: #7F8083;
    font-size: 22px;
    font-weight: 300;
    background: none;
    transition: 0.5s;
}
.input-text:focus{
    border-color: #00B1E3;
    color: #00B1E3;
    transition: 0.5s;
}
.phone-number:focus{
    border-color: #00B1E3;
    color: #00B1E3;
    transition: 0.5s;
}
.custom-modal .phone-wrapper {
    width: auto;
}

@media (min-width: 480px){
.phone-wrapper {
    width: 394px;
}
}
.phone-wrapper {
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: start;
    margin: 12px auto 0;
    width: 270px;
}
.full-width {
    margin-bottom: 20px;
}
@media (min-width: 992px){
.one-btn__wrapper {
    padding: 0 20px 0 0;
    margin: 40px 0 0;
}
}
.one-btn__wrapper {
    padding: 0 0 0;
}
.one-btn__wrapper {
    margin: 20px 0 0;
}
.custom-modal .modal-body{
    padding: 25px 75px 35px;
}
@media (min-width: 640px){
.one-btn__wrapper a, .one-btn__wrapper button {
    line-height: 49px;
}
}
.one-btn__wrapper a, .one-btn__wrapper button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: block;
    border-radius: 50px;
    padding: 0 60px;
    line-height: 55px;
}

.one-btn__cancel {
    background: #fff;
    border: 1px solid #655f5f;
    color: #655f5f;
    transition: 0.5s;
}
.one-btn__cancel:hover{
    background: #fff;
    border: 1px solid #413D3D;
    color: #413D3D;
    transition: 0.5s;
}
.pay_btn_continue{
    background: #00B1E3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    height: 55px;
    box-shadow: 0 2px 5px #047B9C;
}
.pay_btn_continue:hover {
    background: #0092BB;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.two-btns__wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.modal__header img {
    max-width: 100%;
    height: auto;
}
.fancybox-morphing .fancybox-toolbar {
    top: 40px;
    right: 100px;
}
.pay-item span {
    font-size: 14px;
    line-height: 15px;
    height: 30px;
}
@media screen and (max-width: 767px){
    .fancybox-morphing .fancybox-toolbar {
        top: 40px !important;
        right: 50px !important;
    }
    .swiper-container-s6 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 41% !important;
    }
    .swiper-container-s6 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 41% !important;
    }
    .soc_link i{
        font-size: 16px;
    }
    .phone-wrapper .phone-code{
        font-size: 16px;
        margin-right: 10px;
    }
    .phone-wrapper .phone-number, .border-wrapper .input-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px){
    .header_planet{
        display: none;
    }
}

@media screen and (min-width: 1800px){
    .swiper-container-s6 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 48% !important;
    }
    .swiper-container-s6 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 48% !important;
    }
    .fancybox-morphing .fancybox-toolbar{
        right: 13% !important;
    }
}

.swiper-container-s6 .swiper-wrapper{
    padding-bottom: 50px;
}

.swiper-container-s6 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 47%;
    left: auto;
    bottom: 0;
    top: inherit;
}

.swiper-container-s6 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    right: auto;
    left: 47%;
    bottom: 0;
    top: inherit !important;
}

button.close{
    color: #00B1E3;
    font-size: 50px;
    font-weight: 400 !important;
    position: absolute;
    right: 35px;
    top: 20px;
    opacity: 0.95 !important;
}
button.close:hover{
    color: #0B94C1;
}
@media (min-width: 1280px) and (max-width: 1420px){
    .header_planet{
        left: -30%;
        top: 20%;
    }
    .header_planet video{
        width: 90%;
    }
}
@media (min-width: 1421px){
    .header_planet{
        left: -20%;
        top: 15%;
    }
    .header_planet video{
        width: 100%;
    }
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-left{
    background-image: none;
}

.aboutMockup1{
    width: 50%;
}

.about > .container > .row{
    align-items: center;
}

.aboutPhone{
    position: relative;
}

.aboutMockup2{
    width: 50%;
    position: absolute;
    right: 20%;
    top: -10px;
}
