body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #2f3542;
}

body::-webkit-scrollbar{
    width: 12px;
    background-color: #2f3542;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #00B1E3;
}

body{
    font-family: 'Fira Sans' !important;
    color: #fff !important;
    background: #181926 url('../images/mainBg.png') no-repeat;
    position: relative;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none;
}

button:focus{
    outline: 0 !important;
}

.btn:focus{
    shadow: none !important;
}

.swiper-button-next{
    color: #fff;
}

.swiper-button-prev{
    color: #fff;
}

.swiper-button-next:focus{
    outline: 0 !important;
}

.swiper-button-prev:focus{
    outline: 0 !important;
}

.swiper-button-prev.swiper-button-disabled{
    color: #fff;
}

.swiper-button-next.swiper-button-disabled{
    color: #fff;
}

.swiper-pagination-bullet{
    background: #fff;
}

.swiper-pagination-bullet-active{
    background: #fff;
}

.top-header_dropdown-menu {
    background: rgba(6,9,20,0.75);
    padding: 25px 20px;
    margin-top: 15px;
}

.dropdown-toggle.menu_link{
    display: flex;
    align-items: center;
}

.dropdown-toggle.menu_link svg{
    margin-left: 5px;
    margin-bottom: 5px;
}

.dropdown-toggle::after{
    content: none;
}

.top-header_dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 40px;
    border-top: 20px solid rgba(6,9,20,0.75);
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.top-header_dropdown-menu .dropdown-item {
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
}

.top-header_dropdown-menu .dropdown-item:hover{
    font-size: 16px;
    color: #00B1E3;
    transition: 0.5s;
    background: none;
}

.logo img{
    height: 70px;
}
.lang_link.active{
    color: #00B1E3;
}
/* Header */
.mainHeaderFlexTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
}
.mainHeaderFlexTopMenuList{
    display: flex;
}
.mainHeaderFlexTopMenuListItem{
    padding: 0 15px;
}
.mainHeaderFlexTopMenuListItemLink{
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}
.mainHeaderFlexTopMenuListItemLink:hover{
    color: #fff;
    transition: 0.5s;
    opacity: 0.7;
}
.mainHeaderFlexTopMenuListItemLink > svg{
    margin-bottom: 5px;
}
.mainHeaderFlexTopCash{
    position: relative;
}
.mainHeaderFlexTopCashButton{
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(73,180,207,1) 0%, rgba(0,149,186,1) 100%);
    box-shadow: 5px 5px 25px rgba(0,177,227,0.31);
    padding: 0 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
}
.mainHeaderFlexTopCashButton > span{
    font-size: 18px;
    margin-left: 7px;
}
.cashbackDropdown {
    position: relative;
    display: inline-block;
}

.cashbackDropdownButton {
    background: linear-gradient(180deg, rgba(73, 180, 207, 1) 0%, rgba(0, 149, 186, 1) 100%);
    box-shadow: 5px 5px 25px rgb(0 177 227 / 31%);
    color: #fff;
    padding: 0 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

}

.cashbackDropdownButton>svg {
    margin-left: 10px;
    margin-top: -5px;
    transition: 0.5s;
}

.cashbackDropdown:hover .cashbackDropdownButton>svg {
    transform: rotate(180deg);
    margin-top: 5px;
    transition: 0.5s;
}

.cashbackDropdownContent {
    display: none;
    position: absolute;
    background: rgba(0, 149, 186, 1);
    min-width: 100%;
    z-index: 1;
    padding: 10px 0 5px;
    transition: 0.5s;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.cashbackDropdownContent a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.cashbackDropdownContent a:hover {
    color: #000;
    transition: 0.5s;
}

.cashbackDropdown:hover .cashbackDropdownContent {
    display: block;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuDropdown{
    background: rgba(6,9,20,0.75);
    padding: 25px 20px;
    margin-top: 15px;
}
.mainHeaderFlexTopMenuDropdown::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 40px;
    border-top: 20px solid rgba(6,9,20,0.75);
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mainHeaderFlexTopMenuDropdown .dropdown-item {
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuDropdown .dropdown-item:hover{
    font-size: 16px;
    color: #00B1E3;
    transition: 0.5s;
    background: none;
}
.mainHeaderFlexTopCabLink{
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.mainHeaderFlexTopCabLink:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuCall{
    position: absolute;
    right: 10px;
    top: 100px;
}
.mainHeaderFlexTopMenuCallText{
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
    top: -12px;
    right: 0;
    position: absolute;
}
.mainHeaderFlexTopMenuCallLink{
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuCallLink:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuLang > ul > li{
    display: inline-block;
    padding: 0 10px 0 0;
}
.mainHeaderFlexTopMenuLang > ul > li > a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuLang > ul > li > a:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.mainHeaderFlexTopMenuLangLink.active{
    color: #00B1E3;
}
.mainHeaderFlexTopCabButton{
    background: rgba(159,159,159,0.1);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.searchTop{
    height: 50px;
    position: relative;
}

.searchTop > input{
    width: 320px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #353642;
    background: #1E1F2C;
    position: absolute;
    color: #fff;
    right: 0;
    padding: 0 20px;
    z-index: 0;
    font-size: 12px;
}

#searchTopButton{
    height: 50px;
    width: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    cursor: pointer;
    z-index: 5;
    position: relative;
    background: rgba(159,159,159,0.1) url(./search.svg) no-repeat;
    background-size: auto;
    background-position: center;
}

#searchTopButton.active{
    background: rgba(159,159,159,0.1) url(../images/home/exit.svg) no-repeat;
    background-position: center;
}

#searchTopButton:focus, .searchTop > input:focus{
    outline: 0;
}

/*Popup menu*/
#morphing-content{
    display: none;
}
.morphing-btn-wrap{
    display: inline-block;
    position: relative;
    text-align: center;
}
.morphing-btn{
    -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    transition: color 0.3s 0.2s, width 0.2s 0s;
    white-space: nowrap;
    box-sizing: border-box;
}
.morphing-btn_circle{
    color: transparent !important;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    
}
.morphing-btn-clone{
    position: fixed;
    background: #141C33;
    border-radius: 50%;
    z-index: 3;
    -webkit-transition: all 0.2s cubic-bezier(.65, .05, .36, 1);
    -moz-transition: all 0.2s cubic-bezier(.65, .05, .36, 1);
    -o-transition: all 0.2s cubic-bezier(.65, .05, .36, 1);
    transition: all 0.2s cubic-bezier(.65, .05, .36, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.morphing-btn-clone_visible{
    display: block;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
}  
.fancybox-morphing .fancybox-bg{
    background: #141C33;
    opacity: 1;
}  
.fancybox-morphing .fancybox-button--close{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
}  
.fancybox-morphing .fancybox-button--close::after, 
.fancybox-morphing .fancybox-button--close::before{
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}
.fancybox-morphing .fancybox-button--close:hover{
    background: rgba(0, 0, 0, 0.25);
}
#morphing-content{
    margin: 0;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 0;
    line-height: 2;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#morphing-content a {
    color: #fff;
}
#morphing-content a{
    font-weight: 300;
    transition: 0.5s;
}
#morphing-content a:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.modal_logo{
    margin-bottom: 100px;
}

.modal_soc{
    padding-top: 100px;
}

.modal_soc_item{
    padding: 0 30px;
}

.modal_soc_item i{
    font-size: 20px;
}
/* Footer */
.footer{
    padding: 50px 0 0;
    background: #141521;
    box-shadow: 0 3px 6px rgba(0,0,0,0.48);
}
.widget_title {
    margin-bottom: 35px;
}
.widget_title h3{
    font-size: 25px;
}
.widget_content li {
    margin-bottom: 15px;
}
.widget_content li a{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    transition: 0.5s;
}
.widget_content li a:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.footer_call h4 {
    color: #848484;
    font-size: 14px;
    margin-bottom: 0;
}
.call_list a{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}
.call_list a:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.footer_contact {
    margin-top: 20px;
}
.footer_contact h4 {
    color: #848484;
    font-size: 14px;
    margin-bottom: 0;
}
.footer_contact a{
    color: #67CEEB;
    font-size: 16px;
    transition: 0.5s;
}
.footer_contact a:hover{
    color: #fff;
    transition: 0.5s;
}
.widget_download h4 {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 20px;
}
.footer .download_item{
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.footer .download_item:hover{
    opacity: 0.7;
    transition: 0.5s;
}
.footer .download_item img {
    height: 40px;
    width: auto;
}
.footer_bottom{
    padding-top: 80px;
}
.footer_bottom_soc_list li{
    padding-right: 20px;
}
.footer_bottom_soc_list li a{
    color: #fff;
    font-weight: 300;
}
.footer_bottom_soc_list li a:hover{
    color: #00B1E3;
    transition: 0.5s;
}
.footer_bottom_soc_list li a i{
    font-size: 20px;
    margin-right: 5px;
}
.footer_bottom_soc_list li a span{
    font-size: 13px;
}
.footer_bottom_text p{
    font-size: 15px;
}

.btn:focus{
    box-shadow: none !important;
}
.fancybox-toolbar {
    right: 13%;
    top: 5%;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    content: 'none';
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: 'none';
}
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
    background: rgba(255,255,255,0.1) url(./search.svg) no-repeat 15px center;
    padding: 9px 10px 9px 32px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border: 0;
}
#demo-2 input[type=search]:hover {
    background-color: rgba(255,255,255,0.1);
}
#demo-2 input[type=search]:focus {
    width: 100%;
    padding-left: 32px;
    outline: 0 !important;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}   
@media (max-width: 768px){
    #morphing-content{
        text-align: center !important;
    }
    #morphing-content ul {
        margin-bottom: 30px !important;
    }
    .footer_bottom_soc {
        margin-bottom: 30px;
    }
}
#morphing-content .nav-link{
    background: none;
    font-size: 20px;
    border-radius: 0;
}
#morphing-content .nav-link.active{
    border-right: 2px solid #00B1E3;
    color: #00B1E3;
}
#morphing-content .tab-content a{
    font-size: 18px;
}
#morphing-content .tab-content ul{
    list-style: circle;
    padding-left: 50px;
    width: 600px;
}
@media(max-width: 767px){
    #morphing-content .tab-content ul{
        list-style: none;
        padding-left: 0;
        width: 100% !important;
    }
    #morphing-content .nav-link.active{
        border-right: 0 !important;
    }
    #morphing-content .nav{
        border-bottom: 2px solid #00B1E3;
        margin-bottom: 20px;
    }
    .form-search-pay{
        text-align: center !important;
    }
    .form-search-pay input{
        width: 100%;
    }
}
@media (min-width: 1199px){
    #morphing-content .tab-pane{
        height: 500px;
    }
}
.form-search-pay{
    text-align: right;
}
.form-search-pay input{
    width: 200px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255, 0.25);
    color: #fff;
    font-size: 16px;
    background: none;
}
.form-search-pay input:focus{
    outline: 0 !important;
}
.paying-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-btn{
    background: #00B1E3;
    padding: 10px 25px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
}
.content_block{
    display: none;
}
@media(max-width:767px){
    .mainHeaderFlexTopCashButton{
        height: 30px;
        padding: 0 10px;
        font-size: 14px;
    }
    .mainHeaderFlexTopCashButton > span{
        margin-left: 2px;
    }
}